<a href="/lessons/<%= lesson.id %>/rehearsals?trainee_id=<%= user.id %>" data-remote="true">
  <button type="submit" class="user_bubble">
    <div class="pic">
      <img src="<%= student_pic(user) %>">
    </div>
    <div class="info">
      <%= user.first_name+' '+ user.last_name %><br>
    </div>
  </button>
</a>
