<div class="shadebox_bg open" data-name="rehearsal">

  <div class="shadebox large no_header">
    <div class="shadebox_content no_padding" style="text-align:center;">

      <div class="media_wrapper">
        <div class="ziggeo">
          <ziggeoplayer ziggeo-theme="modern" id="rehearsal_<%= @rehearsal.id %>" ziggeo-video="<%= @rehearsal.video_token %>" ziggeo-stretch ziggeo-responsive> </ziggeoplayer>
        </div>
      </div>

      <div class="content">
        <h4>Rehearsal for: <%= link_to @rehearsal.lesson.title, course_topic_lesson_path(@rehearsal.course, @rehearsal.topic, @rehearsal.lesson) %></h4>
      </div>
  
    </div>
    <div class="shadebox_footer">
      <div class="content">
        <%= render './rehearsals/approval', rehearsal:@rehearsal, user:'instructor' %>
      </div>
      <div class="shade_close stop_video ion-ios-close"></div>
    </div>
  </div>
</div>