<div class="shadebox" data-name="rehearsal" style="display:block;">
  <div class="shade box">
    <div class="shadebox_title">
        Rehearsal for: <%= link_to @rehearsal.lesson.title, course_topic_lesson_path(@rehearsal.course, @rehearsal.topic, @rehearsal.lesson) %>
        <div class="shade_close stop_video">x</div>
    </div>
    <div class="shadebox_content" style="text-align:center;">

      <div class="media_wrapper">
        <div class="ziggeo">
          <ziggeoplayer ziggeo-theme="modern" id="rehearsal_<%= @rehearsal.id %>" ziggeo-video="<%= @rehearsal.video_token %>" ziggeo-stretch ziggeo-responsive> </ziggeoplayer>
        </div>
      </div>
  
      <hr>
    </div>
    <div class="shadebox_bottom">
      <%= render './rehearsals/approval', rehearsal:@rehearsal, user:'instructor' %>
      <button class="shade_close red small_btn stop_video">x</button>
    </div>
  </div>
</div>