<li>
  <button class="submission"><%= @rehearsal.id %></button>
</li>
<script>
  $("ul li").on('click',".submission", function () {
    // console.log('hi');
    // var example= name {name: name};
    $.ajax({
    url: '/rehearsals/<%= @rehearsal.id %>/api',
    type: "PUT",
    // data: { @rehearsal = '<%= @rehearsal.id %>' },
    success: function(data){
      // console.log(data);
    }});

  });
</script>
