<p id="notice"><%= notice %></p>

<h3>Rehearsals</h3>
<hr>
<% @rehearsals.each do |rehearsal| %>
  <a href="#">
    <%= rehearsal.trainee.first_name %> <%= rehearsal.trainee.last_name %> 
  </a> 
  submitted a Rehearsal.
<%end%>