<% if current_user.level_2 %>
  <h2>Courses to Check</h2>
  <% c = [] %>

  <% current_user.courses.each do |course| %>
    <%if current_user.level_2 %>
      <% course.course_registrations.each do |cr| %>
        <% cr.user.rehearsals.each do |r| %>
          <% if r.submission == true %>
            <% c << course %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% c.uniq.each do |c| %>
    <%= link_to c.title, course_path(c) %> <br>
  <% end %>
  <% c = c.uniq %>
  <h3>There are <%= c.length %> Courses to check</h3>

<% end %>
