<p id="notice"><%= notice %></p>

<h3>Rehearsals</h3>
<hr>
<% @rehearsals.each do |rehearsal| %>
  <a href="#">
    <%= rehearsal.user.firstname %> <%= rehearsal.user.firstname %> 
  </a> 
  submitted a Rehearsal.
<%end%>