<%= render './rehearsals/by_topic' %>

<% @this_video_token = @rehearsal.video_token %>

<div class="lesson_half main_recorder">
	<%= render './shared/ziggeoplayer' %>
</div>

<%= link_to 'Back', rehearsals_all_path %>
