<div class="title">
	<%= button_to "Add Course", new_user_course_path(current_user), class:'small green_sft', method: :get, remote: true %>
</div>
<div class="body">

	<div class="instructor_courses_list">

		<h4>Course Created</h4>

		<div class="card_list creator_list">
			<% current_user.courses.order('id DESC').each do |course| %>
		        <%= render './courses/card', course_item:course  %>
		    <% end %>
		</div>
	</div>
</div>



