
<% @groups.each do |group| %>
    <% @user = group.instructor_id%>
    <%= link_to group.name, user_group_path(@user, group), remote: true, :class => "group_shadebox_btn" %>

<% end %>






<div id="render_partial_form">


</div>





