<div class="info_box thrd">
	<div class="user_info"></div>
	<div class="title blue">My Courses</div>
</div>

<div class="info_box thrd">
	<div class="user_info"></div>
	<div class="title red">Pending Courses</div>
</div>

<div class="info_box thrd">
	<div class="user_info"></div>
	<div class="title green">Courses Stats</div>
</div>