<div class="title">
	<button class="js-add_form_btn creator_btn" data-form="course">
		Create New Course
	</button>
</div>
<div class="body">
	<!-- <div class="js-display_my_courses" style="display: none;"></div> -->

	<div class="js-course_form" style="display:none;">
		<%= render './courses/form' %>
	</div>

	<div class="js-my_courses_list">

		<div class="card_list creator_list">
		
			<% current_user.courses.order('id DESC').each do |course| %>
		        <%= render 'coursecards', course_item: course  %>
		    <% end %>

		</div>

	</div>
</div>



