<div class="js-new_course" style="display:none;">
	<h3> New Course </h3>
	<%= render './courses/form' %>
</div>
<a href="<%= new_course_path %>"><button class="js-create_newCourse reg_btn green_sft">Create New Course</button></a>
