<div class="js-display_my_courses" style="display: none;"></div>
<div class="js-all_courses">
	<%= render './courses/courses' %>
</div>

<!-- <div class="js-create_course_form"> -->
	<%= render './courses/form' %>
<!-- </div> -->