<div class="section js-display_my_courses" style="display: none;">

	<div class="js-my_courses_list card_list">

		<% @courses.each_with_index do |course, index| %>

			<a class="js-c_<%= course.id %>" href="<%= course_path(course) %>">	
				<div class="card">
					<div class="card_title course">
						<%= course.title[0...30] %>
						<% if course.title.length > 30 %>
				            ...
				        <% end %>
				    </div>
					<div class="card_desc course">
						<%= course.description[0...130] %>
						<% if course.description.length > 130 %>
			               ... <span class="blue">more</span>
			            <% end %>

			            <% course.topics.each do |top| %>
							<div class="circle_count"></div>
					    <% end %>
					</div>
				</div>
			</a>

		<%end%>
	</div>

</div>