<div class="top_info">
	<div class="user_stat">
		<div class="number">0</div>
		<div class="stat"> Courses completed</div>
	</div>
	<div class="user_stat">
		<div class="number">0</div>
		<div class="stat"> Pending Courses</div>
	</div>
</div>

<div class="box_sep">
	<div class="title"> <%= current_user.role.capitalize %> interface<br> </div>
	<div class="body"><%= render current_user.role %></div>
</div>