<div class="top_info"> 
	<div class="user_name"><%= current_user.first_name %> <%= current_user.last_name %></div>
	<div class="user_stat">
		<div class="number">2</div>
		<div class="stat"> Courses completed</div>
	</div>
</div>
<div class="top_fix"> 

	<%= current_user.email %>
	<%if current_user.role == 'admin' %>
	  <a href="<%= new_course_path %>"><button class="reg_btn green_sft">New Course</button></a>
	<% end %>

</div>
