<div class="main_title">
	<%= current_user.role.capitalize %> interface
</div>

<%= render 'topinfo' %>

<% if current_user.level_4 %>
	<button class="tab js-dashboard selected">Dashboard</button>
<% end %> <% if current_user.level_2 %>
	<button class="tab js-all_courses">All Courses</button>
<% end %> <% if current_user.level_3 %>
	<button class="tab js-coaching_tools">Coaching Tools</button>
<% end %>

<div class="box_sep">
	<div class="title">
		Dashboard
	</div>

	<div class="body">
		<div class="js-dashboard_content">
			<%= render current_user.role %>
		</div>
		<div class="js-all_courses_content" style="display:none;">
			<%= render 'admin' %>
		</div>
	</div>
</div>