<% @this_user.profile_file_name.present? ? profile = @this_user.profile.url(:square) : profile = '/assets/default_user.png' %>
<div class="">
	<img src="<%= profile %>"  class="img-circle" width='60px'>
	<div class="info">
		
	</div>
</div>