<table class="wrapper full bg_fixed bg_img" style="background-image:url('/assets/business/intro.jpg'); padding-top:30px;">
    <tbody>
        <tr>
            <td>
                <h1>videoRehearser in Business</h1>
                <div style="max-width:500px; margin:5px auto;">
                    <h5>Training professionals must redefine their roles to correct the imbalance between training investment and training effectiveness.</h5>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<br>
<table cellpadding="10px" style="max-width:1000px; margin:10px auto;">
    <tbody class="flexible">
        <tr>
           <td class="img">
            <img src="/assets/business/1.jpg" style="width:90%; margin:0 5%;">
           </td>
           <td class="text">
            <h4>Human Resources</h4>
            <h2>We often speak of Human Resources (HR) as a singular function. In reality of course, it is MUCH more complex.</h2>
            Generally speaking all managers are role models and problem solvers, but too few managers are effective trainers. Managers who repeatedly prescribe the same solutions are not as cost effective as managers who use their skills & knowledge to create effective training materials. Our platform blends scenario, learn by doing and performance support methodologies, into a structured iterative process - adaptive microlearning.
           </td>
        </tr>
    </tbody>
</table>

<br>
<table cellpadding="10px" style="max-width:1000px; margin:10px auto;">
    <tbody class="flexible">
        <tr>
           <td class="text right_text">
            <h4>Customer Service</h4>
            <h2>Most training workflows require substantial interpersonal negotiation and listening skills.</h2>
            Exceptional customer service is crucial for any organization that depends on its customers to be successful. Our training methodology and performance support interface is ideally suited for today’s challenging work environment. It will help produce significant modification of target behaviors at a lower cost.  Customer service is not a department. It is a philosophy to be embraced by every employee and modeled by organizational leaders.
           </td>
           <td class="img">
            <img src="/assets/business/2.jpg" style="width:90%; margin:0 5%;">
           </td>
        </tr>
    </tbody>
</table>

<br>
<table cellpadding="10px" style="max-width:1000px; margin:10px auto;">
    <tbody class="flexible">
        <tr>
           <td class="img">
            <img src="/assets/business/3.jpeg" style="width:90%; margin:0 5%;">
           </td>
           <td class="text">
            <h4>Sales</h4>
            <h2>Sales training programs help salespeople learn and/or improve their selling technique, skills, and processes. The ultimate goal is improving bottom-line results.</h2>
            vR is a training methodology and performance support system for “issue resolvers” and “workflow” setters who are constantly imparting acumen and knowledge based on years of technical, professional and personal experiences. Experienced sales leaders can author situational knowledge and skills in the context of doing. Getting someone else to “do it how you want them to do it” requires so many repetitive explanatory sessions as to be only marginally cost effective. Nuance and subtlety are easier to imitate then to explicate.
           </td>
        </tr>
    </tbody>
</table>

<hr>

<div class="container" style="margin-top:100px; margin-bottom:100px;">
    <div class="row" style="text-align:center;">
        <div class="col-sm-3">
            <h5><a href="education">Education</a></h5>
        </div>
        <div class="col-sm-3">
            <h5><a href="business">Business</a></h5>
        </div>
        <div class="col-sm-3">
            <h5><a href="workforce">Workforce</a></h5>
        </div>
        <div class="col-sm-3">
            <h5><a href="wellness">Wellness</a></h5>
        </div>
    </div>
</div>