<table class="wrapper full bg_fixed bg_img" style="background-image:url('/assets/education/intro.jpg'); padding-top:30px;">
    <tbody>
        <tr>
            <td>
                <h1>videoRehearser in Education</h1>
                <div style="max-width:500px; margin:5px auto;">
                    <h5>Education is not the learning of facts, but the training of the mind to think.</h5>
                    <br>
                    - Albert Einstein 
                </div>
            </td>
        </tr>
    </tbody>
</table>

<br>
<table cellpadding="10px" style="max-width:1000px; margin:10px auto;">
    <tbody class="flexible">
        <tr>
           <td class="img">
            <img src="/assets/education/1.jpeg" style="width:90%; margin:0 5%;">
           </td>
           <td class="text">
            <h4>Authentic Learning</h4>
            <h2>A tool to create and deliver an authentic learning experience to students and teachers.</h2>
            Designing and delivering an authentic educational experience begins with a keen understanding of oneself - one’s sense of Self and Self-Identity. Because what makes us who we are and conversely what we need to learn is controlled by our belief systems. Our value systems. Our need to survive and flourish in the societies and cultures we live in and interact with.
           </td>
        </tr>
    </tbody>
</table>

<br>
<table cellpadding="10px" style="max-width:1000px; margin:10px auto;">
    <tbody class="flexible">
        <tr>
           <td class="text right_text">
            <h4>Pronunciation & Language Learning</h4>
            <h2>Learners practicing their pronunciation focus too much on memorizing grammar and vocabulary.</h2>
            videoReheaser is designed to develop skills through “reaction” & “self-reflection”. The Authentic Interactive Interface goes beyond the functional definition of interaction as issuing commands to a more phenomenological implementation.
           </td>
           <td class="img">
            <img src="/assets/education/2.jpg" style="width:90%; margin:0 5%;">
           </td>
        </tr>
    </tbody>
</table>

<br>
<table cellpadding="10px" style="max-width:1000px; margin:10px auto;">
    <tbody class="flexible">
        <tr>
           <td class="img">
            <img src="/assets/education/3.jpeg" style="width:90%; margin:0 5%;">
           </td>
           <td class="text">
            <h4>vR Kids</h4>
            <h2>Children are being born into a world dominated by technology.</h2>
            As a result, attention spans have shrunk by 50% over the past decade. Our platform allows for creating and exploring the environment collaboratively. vR Kids helps stakeholders target multiple social and semantic learning processes everyday in many different ways.
           </td>
        </tr>
    </tbody>
</table>

<hr>

<div class="container" style="margin-top:100px; margin-bottom:100px;">
    <div class="row" style="text-align:center;">
        <div class="col-sm-3">
            <h5><a href="education">Education</a></h5>
        </div>
        <div class="col-sm-3">
            <h5><a href="business">Business</a></h5>
        </div>
        <div class="col-sm-3">
            <h5><a href="workforce">Workforce</a></h5>
        </div>
        <div class="col-sm-3">
            <h5><a href="wellness">Wellness</a></h5>
        </div>
    </div>
</div>