<div class="container-fluid">
    <div class="row">
        <div class="col-12 center_text wrapper padding">
        
            <h2>Transform the way <br> your company trains.</h2>
            <h6 style="color:#999;" > Adaptive microlearning built for enhanced job performance.  </h6>
            <br>
            <button class="big_btn blue">
                Start for free
            </button>
            or you can <a href="#" style="color:#0070C0; text-decoration:underline;"> Request a Demo. </a>
        </div>
    </div>
</div>
