<div class="job_banner">
  <div class="jobs-banner-content">
      <h1>Looking for a job? </h1>
      <p>
        <span>Are you a language professional seeking to make money from your knowledge and expertise?</span>
        A speech and/or language professional looking to expand your market presence and put your training online?
        
      </p>
      <p>We will train you and guide you in how to use our software to develop new and innovative courses designed to meet the needs of the native spanish speaker community.</p>
  </div>
         
   </div> 
          

   <div class="about-job">
     <div class="container">
       <h3>About the Opportunity</h3>
       <p>Are you a language professional seeking to make money from your knowledge and expertise? A speech and/or language professional looking to expand your market presence and put your training online?</p>
     <p>
      We are currently seeking a highly motivated and experienced language specialist (preferably English) located in the Miami/Ft.Lauderdale area to create content using our videoRehearser platform. Bring your sense of fun, creativity, and strong dedication to our company!      
     </p>
    </div>
   </div>
   <div class="job-responsibility">
     <div class="container">
       <h3>Job Responsibilities:</h3>
       <ul>
         <li>Set individual learning and development goals</li>
         <li>Establishing a positive learning environment for all learners
        </li>
         <li>Utilizing a broad range of appropriate differentiated techniques and strategies addressing all aspects of communication that develop each student’s ability to read, write, speak, and listen in content areas at levels that ensure learners meet or exceed learning targets.</li>
         <li>Create high-quality lessons in the following categories: pronunciation dictionary, conversational, professional, vocabulary, grammar, etc. using videoRehearser. </li>
         <li>Provide feedback and support that encourages the learners to develop their language and pronunciation skills.
        </li>
         <li>Maintain complete and accurate records of student’s progress and evidence of growth and progress</li>
       </ul>
     </div>
   </div>


   <div class="job-qualifications">
    <div class="container">
      <h3>Qualifications:</h3>
      <ul>
        <li>High level of English proficiency</li>
         <li>CELTA, DELTA, M.A. or M.S. in related field – TESOL, Linguistics, Education</li>
         <li>At least one year of ESL teaching experience.
        </li>
         <li>24 hr access to a computer with a webcam and fast internet connection
        </li>
         <li>Strong self and time management skills.
        </li>
         <li>Detail oriented; Strong problem solving skills and general creativity.
        </li>
      </ul>
      <p>Please submit your cover letter and resume to <a href="mailto:carlos@videorehearser.com">
        carlos@videorehearser.com</a></p>
    </div>
  </div>