<div class="MainBanner-Container">
    
            <div class="BannerOverlay">
    
            </div>
    
            <div class="container">
                <div class="tile is-ancestor">
                    <div class="tile is-6 is-vertical is-parent">
    
                        <div class="tile is-child box BannerContent_Left">
                            
                            <h1 class="wow fadeInUp" data-wow-delay="0.7s">A training Management System engineered to improve performance in
                            <br/> <span class="typewrite wow fadeInUp" data-wow-delay="0.7s" data-period="3000" data-type='[ "Hospitality", "Sales", "Language", "Customer Service"]'></span> </h1>
                            <h2 class="wow fadeInUp" data-wow-delay="0.9s">We help organizations scale and improve their 
                                    training through interactive video.
                                    
                                    </h2>
                            <p class="wow fadeInUp" data-wow-delay="1.1s">
                                The Search For Your Network Partner Is Over
                            </p>
     
                            <div class="BtnRow wow fadeInUp" data-wow-delay="1.5s">
                                <a href="#" class="BtnDark">Create Your Account Today</a>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent TabContent-Bg1">
                        <div class="tile is-child box">
                            <div class="PageSignup wow bounceInUp" data-wow-delay="1.7s">
                                <h1>Schedule a Demo</h1>
                                <p>We are <span>here to help</span> you achieve your performance marketing goals</p>
                                <h2>Create An Account In Under 2 Seconds.</h2>
                                <h3>Call TollFree <span>1 (888) 111-1111</span></h3>
                                <p>Login Details Will Be SMS To Your Cell Phone Immediately.</p>
                                <p>Already have an account? <a href="#">Sign in</a></p>
                                <div class="HowToEarn"><a class="Show_HowWorks">CONTACT SUPPORT SERVICES <br/>Get In Touch With Video Rehearsals </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
        <div class="HowGetPaid">
            <div class="container">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">We Believe In Performance Marketing</h1>
                <h2 class="wow fadeInUp" data-wow-delay="0.2s">Video Rehearsals connects Advertisers with Affiliates to drive new customers or users on a
    Cost-Per-Action (CPA, CPL, CPE, CPI, CPS, CPC) pricing model.</h2>
                <div class="has-text-centered">
                    <img src="../assets/sep.png" /></div>
    
                <div class="ServicesColumn">
                    <div class="tile is-ancestor">
                        <div class="tile is-6 is-vertical is-parent has-text-right">
                            <div class="tile is-child box">
                                <h1>User Generated Content
                                        </h1>
                                <p>I am an advertiser, app developer, service provider or agency looking to reach the right customers and maximize ROI.</p>
                                <a href="#" class="BtnDark">Become An Advertiser Partner</a>
                             </div>
                        </div>
                        <div class="tile is-parent has-text-left">
                            <div class="tile is-child box">
                                <h1>Engineered Training
                                </h1>
                                <p>I am a media buyer, email marketer, website, app developer or affiliate looking to promote campaigns and maximize my ROI.</p>
                                <a href="#" class="BtnDark">Become An Affiliate Partner</a>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                
               
            </div>
        </div>
    
        <div class="whatWeDo_Heading">
            <div class="container">
                <h1>What We Do?</h1>
            </div>
        </div>
        <div class="WhatWeDo_Content">
            <div class="columns">
                <div class="column">
                    <div class="content is-small">
                        <h1>Recognition</h1>
                        <p>We think Video Rehearsals is pretty awesome. But don’t take our word for it. We’re proud to have earned awards from our peers, industry publications, our clients and our community - all thanks to our incredibly talented and driven team.</p>
                        <p>We have a top-notch business development and sales support team that are always looking to bring in the best offer out in the market.
    
    We have offers that can easily scale, have high conversion rates and EPCs.</p>
                        <h2>High-Quality, Consistent, Scalable Traffic</h2>
                        <p>We treat your business like it’s our own. Clickbooth is a recognized digital advertising leader and one-of-a-kind performance marketing exchange focused on driving new customers or users for our advertisers on a Cost-Per-Action (CPA), Cost-Per-Lead (CPL), Cost-Per-Engagement (CPE), Cost-Per-Install (CPI), Cost-Per-Sale (CPS) and Cost-Per-Click (CPC) pricing model.</p>
                       <p>We specialize in generating consistent, quality customer acquisitions at high volumes through exclusive affiliate channels on native, mobile, social, email, contextual and search placements as well as in-house email marketing.</p>
                        
                    </div>
                </div>
                <div class="column">
                    <div class="content is-small">
                        <h1>The Search For Your Network Partner Is Over</h1>
                        <p>We treat our affiliates like partners. Working with Clickbooth gets you access to hundreds of advertisers, thousands of top-performing campaigns and patent-pending technology built just for you.</p>
                        <p>Founded in 2002, we have a reputation for selectivity - 85% of our offers are exclusive. Health and Beauty, Financial, Dating and App Installs rank among our top verticals.</p>
                        <h1>Video Rehearsals is consistently in the Top 10 Advertising Networks</h1>
                        <ul>
                            <li>Experienced Account Managers</li>
                            <li>One-Stop Solution</li>
                            <li>Affiliate Friendly Technology</li>
                            <li>Weekly Guaranteed Payments</li>
                            <li>Coustomer Lifetime Value Fanatics</li>
                            <li>Consistent, High-Volume Traffic Available</li>
                            <li>Brand Protection</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="is-clearfix"></div>
    
        <div class="PayDay_Container">
            <div class="container">
                <h1 class="wow fadeInUp animated" data-wow-delay="0.1s">
                   Top 10 Advertising Networks</h1>
    
                <button class="accordion active">Sharing is caring, and rewarding!</button>
                <div class="panel" style="max-height:inherit;">
                    <p>Tollfree.Cloud pays you US$1 when your referral responds to an SMS message sent to him. Share Tollfree.Cloud with family members and friends aged 18-years-old and above. How long does it take someone to share a referral link? A maximum of 30 seconds! Imagine the possibilities. You don’t have to be a math genius to know how much this can boost your daily income. Our analysts have projected that Tollfree.Cloud can boost your buying power anywhere from US$50 - $1000/month.</p>
                    <p>Your account comes with a unique referral link you can share with anyone aged 18 and over in Canada and the US.</p>
                    <p>We know you’re now super excited about sharing Tollfree.Cloud with everyone you know! Go spread the sunshine and light up the whole village.</p>
    
    
                </div>
    
                <button class="accordion">Why not get paid for something you already do on your phones?</button>
                <div class="panel">
                    <p>You pay for most of the things you do on your phone. It doesn’t matter if you’re on a monthly plan or have a pre-paid phone line, you pay for the features on it. This is where the Tollfree.Cloud revolution takes place. We’re changing the concept of consumers paying mobile companies to read SMS messages. Through Tollfree.Cloud advertisers, you get paid upto US$2 each time you read an SMS message and respond with the code provided in the message.</p>
                </div>
    
                <button class="accordion">Voice messages begin to sound like the cash register’s ka-ching.</button>
                <div class="panel">
                    <p>Similar to getting paid for SMS messages, you also get paid every time you listen to a voice message. Simply listen to the voice message from our advertisers and enter the unique code we’ve given you to earn upto US$2 per voice message. Ka-ching! Ka-ching!</p>
                </div>
    
                <button class="accordion">Tollfree.Cloud Coupons puts more money in your pocket.</button>
                <div class="panel">
                    <p>Save more money with Tollfree.Cloud Coupons. Our SMS and voice messages often contain discount codes on goods and services you already use. Redeem these discount codes on your next trip to your favorite stores. Boost your buying power with Tollfree.Cloud Coupons, the breakthrough system that generates savings for you.</p>
                </div>
    
            </div>
        </div>
         
     
       
    