<div class="site_wrapper">
<div class="mission_top_img">
	<img src='/assets/mission_header.jpeg' width="100%">
</div><br><br>

The societal costs of inefficient and ineffective training include poor return on national, state, and local educational effort and expenditures as well as the loss of opportunity for social, personal, and financial mobility. 

The solution to this worldwide issue is an evolution of the current educational and training systems. <br><br>

Education and training equals economic development. <br><br>

Video Rehearser is the virtual training platform engineered by educators to expedite learning. Based on neuroeducational and applied behavioral sciences, vR is uniquely positioned to empower the community in an unprecedented way. Our mission is to provide communities of learners with access to a training tool that we promise will transform performance. <br><br>

That is why we’ve combined brain science and computer technology to create a platform that is engineered to train. We promise that instructors and learners will use less effort, to learn more, in less time. <br><br>
</div>