<div class="full_top_img" style="background-image:url('/assets/job_interview.jpeg');">
	<%= render 'layouts/menu' if menu_welcome %>
	<div class="overview_header">
		<div class="content">

			<div style="font-family:'gotham';margin:10% 0 20px; font-size:40px; line-height:1em;">
				ENGINEERED TO<br>
				EXPEDITE LEARNING
			</div>
			<div style="font-size:14px; line-height:1.2em; max-width:600px;">
				Learning is an underappreciated process that takes time and effort. It is also a process controlled exclusively by the brain.<br><br>

				We’ve engineered a Training Platform that combines Brain Science & Technology to expedite social, academic, and workplace learning. <br><br>

				We promise that managers and trainees will use less effort, to learn more, in less time. <br><br>
				<span style="font-family:'gotham';">Currently available via INVITATION ONLY.</span> <br><br>
			</div>
			<button class="blue big_btn">
				REQUEST INVITE
			</button>
		</div>

	</div>
</div>

<div class="wrapper" style="margin-bottom:50px;">
	<div class="overview_menu">
		<button class="tab selected" data-group='overview' data-frame='main'>Overview</button>
		<button class="tab" data-group='overview' data-frame='thescience'>The Science</button>
		<button class="tab" data-group='overview' data-frame='statistics'>Statistics</button>
	</div>
	<div class="overview_content">
		<div class="all_content js-main_content">
			<h2>Overview</h2><br>

			The societal costs of inefficient and ineffective training include poor return on national, state, and local educational effort and expenditures as well as the loss of opportunity for social, personal, and financial mobility. <br><br>

			We are looking for Disruptive Trainers & Educators looking to EVOLUTIONIZE where learning happens.  <br><br>

			Video Rehearser is the virtual training platform engineered by educators to expedite learning. Based on neuroeducational and applied behavioral sciences, vR is uniquely positioned to empower the community in an unprecedented way. Our mission is to provide communities of learners with access to a training tool that we promise will transform performance. <br><br>

			That is why we’ve combined brain science and computer technology to create a platform that is engineered to train. We promise that instructors and learners will use less effort, to learn more, in less time. <br><br>
		</div>

		<div class="all_content js-thescience_content">
			<h2>The Science</h2><br>

			Video Rehearser is a combination authoring and training tool Engineered to Train.<br><br> 


			vR’s comprehensive approach to teaching is informed by:
			<ol>
				<a style="color:#2B99D7;" target="_blank" href="http://www.simplypsychology.org/bandura.html"><li>Bandura’s Social Learning theory</li></a>
				<a style="color:#2B99D7;" target="_blank" href="https://www.edutopia.org/multiple-intelligences-research"><li>Gardner’s theory of Multiple Intelligences</li></a>
				<a style="color:#2B99D7;" target="_blank" href="https://www.kennedykrieger.org/patient-care/patient-care-programs/inpatient-programs/neurobehavioral-unit-nbu/applied-behavior-analysis"><li>Applied Behavioral Analysis</li></a>
				<a style="color:#2B99D7;" target="_blank" href="https://en.wikipedia.org/wiki/Educational_neuroscience"><li>Educational Neuroscience </li></a>
				<a style="color:#2B99D7;" target="_blank" href="http://blc.uc.iupui.edu/Portals/BLC/Study%20Skills/Fall%2015%20Handout%20Updates/12%20Principles%20of%20Memory.pdf"><li>12 Principles of Memory </li></a>
			</ol>


			to foster the attainment of “Blooms Learning Objectives” of
			<ul>
				<li>Remembering</li>
				<li>Understanding </li>
				<li>Applying knowledge </li> 
			</ul>

			in addition to the higher level skills of
			<ul>
				<li>Analysis</li>
				<li>Evaluation</li>
				<li>Creativity </li>
			</ul>

			This combination leads to the critical social, academic, and workplace skills of clear, accurate and authoritative communication needed by individuals from all walks of life. 
		</div>

		<div class="all_content js-statistics_content">
			<h2>Statistics</h2><br>

			<img src="http://elearninginfographics.com/wp-content/uploads/20150123-Top-10-eLearning-Stats-for-2015-1.jpg" style="max-width:800px;">
			
		</div>
	</div>
</div>