<div class="site_wrapper">
	<h2>Press</h2>
</div>
<div class="press_bg" style="background-image:url('assets/press/bg.jpg');">
	<div class="press_packet">
		<a href="assets/videorehearser_press_packet.zip">
			<button class="press_packet_btn">
				Download Press Packet
			</button>
		</a>
	</div>
</div>