<div class="wrapper">
    <br>
    <h2>Pricing</h2>
    <br>
</div>

<div class="wrapper pricing_table">
   
    <div class="card">
        <div class="title"> <h2>BASIC</h2> </div>
        <div class="content">
            <h2>$99</h2>
            <span style="font-size:12px;"> PER MONTH </span>
            <br><br>
            This package is recommended for up to 10 users and enables iterative feedback and virtual coaching. A great option for consultant or small business.
            <br><br>
            <ul>
                <li>5 hours of video included</li>
                <li>Create up to 5 courses</li>
                <li>Email and chat tech support</li>
            </ul>
        </div>
        <div class="footer"><a href="/contact/"><button class="big_btn"> Contact us for a free trial </button></a> </div>
    </div>
    
    
    <div class="card">
        <div class="title"> <h2>STANDARD</h2> </div>
        <div class="content">
            <h2>$199</h2>
            <span style="font-size:12px;"> PER MONTH </span>
            <br><br>
            This plan is recommended for up to 25 users and allows for creation of multiple courses to meet your training and development needs. 
            <br><br>
            <ul>
                <li>10 hours of video included</li>
                <li>Create up to 10 courses</li>
                <li>Email, chat, and phone support</li>
            </ul>
        </div>
        <div class="footer"><a href="/contact/"><button class="big_btn"> Contact us for a free trial </button></a> </div>
    </div>
    
    
    <div class="card">
        <div class="title"> <h2>PRO</h2>  <div class="recommended"> Recommended </div> </div>
        <div class="content">
            <h2>$299</h2>
            <span style="font-size:12px;"> PER MONTH </span>
            <br><br>
            Our recommended plan allows for flexible lesson creation and scaleable learning architecture that includes a branded experience.
            <br><br>
            <ul>
                <li>20 hours of video included</li>
                <li>Create up to 25 courses</li>
                <li>Email, chat and LIVE support</li>
            </ul>
        </div>
        <div class="footer"><a href="/contact/"><button class="big_btn"> Contact us for a free trial </button></a> </div>
    </div>
   
   
    <div class="card">
        <div class="title feat"> <h2>Developer</h2> </div>
        <div class="content">
            <h2>Contact Us</h2>
            <span style="font-size:12px;"> For more information </span>
            <br><br>
            Leverage our API for your existing training and development needs and turn your current training process into an online structured experience.
            <br><br>
            <ul>
                <li>Customized landing and entry</li>
                <li>Personalize your UX/UI</li>
                <li>Access to Learning Architect</li>
            </ul>
        </div>
        <div class="footer"><a href="/contact/"><button class="big_btn"> Contact us for a free trial </button></a> </div>
    </div>
</div>

<br><br>

<%= render 'faqs' %>
