<div class="pricing_table">
   
    <div class="card">
        <div class="title"> <h2>BASIC</h2> </div>
        <div class="content">
            <h2>$99</h2>
            <span style="font-size:12px;"> PER MONTH </span>
            <br><br>
            This package is recommended for trainers with up to 10 clients and enables iterative feedback, virtual coaching and user-generated content.
            <br><br>
            <ul>
                <li>5 hours of video included</li>
                <li>Create up to 5 courses</li>
                <li>Email and chat tech support</li>
            </ul>
        </div>
        <div class="footer"><a href="/contact/"><button class="big_btn"> Contact us for a free trial </button></a> </div>
    </div>
    
    
    <div class="card">
        <div class="title"> <h2>STANDARD</h2> </div>
        <div class="content">
            <h2>$199</h2>
            <span style="font-size:12px;"> PER MONTH </span>
            <br><br>
            This plan is recommended for individuals or small businesses looking to personalize the training experience and automate on-boarding.
            <br><br>
            <ul>
                <li>10 hours of video included</li>
                <li>Create up to 10 courses</li>
                <li>Email and chat tech support</li>
            </ul>
        </div>
        <div class="footer"><a href="/contact/"><button class="big_btn"> Contact us for a free trial </button></a> </div>
    </div>
    
    
    <div class="card">
        <div class="title"> <h2>PRO</h2>  <div class="recommended"> Recommended </div> </div>
        <div class="content">
            <h2>$299</h2>
            <span style="font-size:12px;"> PER MONTH </span>
            <br><br>
            Our recommended plan allows for flexible lesson creation and scaleable learning architecture that includes a branded experience.
            <br><br>
            <ul>
                <li>20 hours of video included</li>
                <li>Create up to 20 courses</li>
                <li>Email and chat tech support</li>
            </ul>
        </div>
        <div class="footer"><a href="/contact/"><button class="big_btn"> Contact us for a free trial </button></a> </div>
    </div>
   
   
    <div class="card">
        <div class="title feat"> <h2>Enterprise</h2> </div>
        <div class="content">
            <h2>Contact Us</h2>
            <span style="font-size:12px;"> For more information </span>
            <br><br>
            Leverage our API for your existing training and development needs and turn your training budget into an income producing asset.
            <br><br>
            <ul>
                <li>Customized landing and entry</li>
                <li>Personalized UX/UI</li>
                <li>Dedicated account oversight</li>
            </ul>
        </div>
        <div class="footer"><a href="/contact/"><button class="big_btn"> Contact us for a free trial </button></a> </div>
    </div>
</div>