<% if !current_user %>
	<div class="site_wrapper">
		
BRAIN SCIENCE<br><br>

"Attention, memory, and comprehension are at the foundation of skill acquisition."<br><br>

Statements like “I’m not sure what to do ...” and “would you please repeat that...” are commonplace and indicative of an inefficient training process.  Temporal and spatial proximity of a discriminative stimulus to an exhibited behavior is a fundamental variable of the learning process. With Video Rehearser, trainers can now bring to the workplace a more stimulus - response compatible training model.<br><br>
 
In general, employees find it challenging to precisely translate “Explanations” of how to do something into knowing how to do something. This results in excessive circular supervision and a significantly reduced ROI.<br><br>
 
Teachers and trainers alike "Hope" you'll remember what they've taught. <br>
They "Assume" that people will be able to understand their words.<br>
Unfortunately, this leads to "Pretending" that what has transpired between teachers and students is meaningful and lasting. <br><br>

Procedural knowledge and skillfulness in the workplace requires experience. <br><br>

--<br><br>

The Video Rehearser platform is ideally suited for settings that have some or all of the following characteristics: 
Workflows that require substantial interpersonal negotiation and listening skills <br><br>
Jobs with significant cognitive and/or motor skill demands<br><br>
Responses that depend on providing policy, regulatory or factual information accurately<br><br>
An underperforming workforce <br><br>

--<br><br>











The Video Rehearser Authentic Learning Approach is informed by these classic learning methodologies: <br><br>

Study Technique <br><br>

(Graves, 2013)  <br><br>


List of Learning Objectives (Bloom, B. S. (1994) ) <br><br>



	

	</div>
<%else%>
	<META http-equiv="refresh" content="0;URL=/users/<%= current_user.id %>">
<%end%>
