<div class="site_wrapper">
	<div style="max-width:700px; width:90%; margin:10px auto;">
		<h2>Terms of Use ("Terms")</h2>
		<%= render './termsandservices/termsandservices'+termsVersion%>
	</div>
</div>