<button class="shadebox_btn red" >click</button>

<div class="shadebox">
	<div class="shade box">
		<div class="shadebox_title">
			<div class="put_title_here">HELLO</div>		
		</div>
		<div class="shadebox_content">
			CONTENT
		</div>
		<div class="shadebox_bottom">
			<div class="put_footer_here"></div>
		</div>
	</div>
</div>

<br>
interface.css<br>
interface.es6<br>