
<style type="text/css">

.wrapper_1{
	background-color: rgba(0,0,0, 0.5);
	padding: 100px;
	position: relative;
  	z-index: 1;

	-webkit-filter: blur(3px);
	filter: url('/media/blur.svg#blur');
	filter: blur(3px);
}
.wrapper_2{
	position: absolute;
	z-index: 10;
	color: white;
}
	
</style>


<div class="wrapper_1">
	<div class="wrapper_2">
		sadasd
	</div>
</div>