



<button class="shadebox_btn red" >click</button>

<div class="shadebox">
	<div class="shade box">
		<div class="shadebox_title">
			HELLO
			<div class="shade_close">x</div>
		</div>
		<div class="shadebox_content">
			CONTENT
		</div>
		<div class="shadebox_bottom">
			<button class="shade_close red small_btn">x</button>
		</div>
	</div>
</div>

<br>
interface.css<br>
interface.es6<br>