<div class="wrapper">
  <!-- <input id="test" >
  <%= render './shared/stars', fld:'test' %> -->



  <!-- <div class="shadebox_bg">
    <div class="shadebox">
      <div class="shadebox_header"></div>
      <div class="shadebox_content"></div>
      <div class="shadebox_footer">
        <div class="content"></div>
        <div class="shade_close ion-ios-close"></div>
      </div>
    </div>
  </div> -->

  <div class="shadebox_bg open">
    <div class="shadebox no_header">
      <div class="shadebox_content no_padding">
        
        <div class="media_wrapper">
          <div class="ziggeo">
            <ziggeoplayer ziggeo-theme="modern" ziggeo-video="9681962d39338bded5a63422709f1022" ziggeo-responsive ziggeo-stretch></ziggeoplayer>
          </div>
        </div>

        <div class="content">
          <h3>Title</h3>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
          The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
          content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as 
          their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions 
          have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        </div>
      </div>
      
      <div class="shadebox_footer">
        <div class="content"></div>
        <div class="shade_close ion-ios-close"></div>
      </div>
    </div>
  </div>

</div>