

<style type="text/css" media="screen">

.test{
  width:49.5%;
  margin: 0.25%;
  float: left;
  background-color: black;
}
  
</style>




<div class="test">
  <ziggeo ziggeo-theme="modern-blue" class='ziggeo_play_elem' ziggeo-video="4f8bca227273050849582c9ab3e710d4" ziggeo-width=100% ziggeo-height=50% ziggeo-responsive>
  </ziggeo>
</div>

<div class="test">
  <ziggeorecorder class='ziggeo_play_elem' id="recorderElement" ziggeo-width=100% ziggeo-height=20% ziggeo-localplayback>
  </ziggeorecorder>
</div>

<script type="text/javascript">
  console.log($('ziggeoplayer').attr('ziggeo-width'));
</script>
