<div class="site_wrapper" style=" text-align:center;">
	
	<div style=" font-size:15px; margin-top:50px; padding:5px 20px;">
	<p style=" font-family:'gotham_bld'; font-size:25px; letter-spacing:0.1em;">VIDEO REHEARSER TEAM</p><br>
	<p>Our team brings deep, hands-on experience to the world of virtual training and coaching. We provide a platform for Managers, Teachers, and Trainers to deliver content instantly, monitor employee skill mastery, and provide feedback.</p><br>
	<p>videoRehearser is our first platform engineered using brain science and technology.</p><br>
	</div>
		
	<% @theteam.each_with_index do |member, index|  %>
		<div class="teammember">
			<img src="<%=image%>/teammembers/<%= member[:name].split(' ').join.downcase %>.jpg">
			<div class="name"><%= member[:name] %></div>
			<%= member[:role] %>
		</div>
		<% if index == 1 %> <br> <% end %>
	<% end %>
	<br><br>
	<button class="huge_btn blue"> Join the Team <span class="ion-android-happy"></span> </button>
</div>