<div class="site_wrapper" style="padding:50px 0 ;">
	<div class="version_box">
		<div class="title_sec">
			<div class="title">
				Version 1.5
			</div>
			<div class="date">
				Oct. 19 2016
			</div>
		</div>
		<div class="content">
			<ul>
				<li>Groups are now functional for instructors and Students</li>
				<li>Submission for rehearsal and feedback added to ziggeo bar</li>
				<li>Homepage Slider changed to a more modern slider
					<ul>
						<li>New Images</li>
						<li>Text with animation</li>
					</ul>
				</li>
				<li>Added tabs to the bashboard</li>
				<li>Course card to save screen real estate</li>
				<li>Moved logout button to dropdown menu</li>
			</ul>
		</div>
	</div>

	<div class="version_box">
		<div class="title_sec">
			<div class="title">
				Version 1.4
			</div>
			<div class="date">
				Oct. 10 2016
			</div>
		</div>
		<div class="content">
			<ul>
				<li>User photo moved to the top of the menu bar.</li>
			</ul>
		</div>
	</div>
	
	<!-- FILL IN THE GAPS -->



	<div class="version_box">
		<div class="title_sec">
			<div class="title">
				Version 1.0
			</div>
			<div class="date">
				Aug. 19 2016
			</div>
		</div>
		<div class="content">
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
</div>