<table class="wrapper full bg_fixed bg_img" style="background-image:url('/assets/wellness/intro.jpeg'); padding-top:30px;">
    <tbody>
        <tr>
            <td>
                <h1>videoRehearser for Wellness</h1>
                <div style="max-width:500px; margin:5px auto;">
                    <h5>Health is a state of body. Wellness is a state of being.</h5>
                    <br>
                    - J. Stanford
                </div>
            </td>
        </tr>
    </tbody>
</table>

<br>
<table cellpadding="10px" style="max-width:1000px; margin:10px auto;">
    <tbody class="flexible">
        <tr>
           <td class="img">
            <img src="/assets/wellness/1.jpg" style="width:90%; margin:0 5%;">
           </td>
           <td class="text">
            <h4>Empowerment</h4>
            <h2>Empowerment-oriented interventions enhance wellness. </h2>
            Empowerment is a construct that links individual strengths, competencies, natural helping systems and proactive behaviors to social policy and social change. 
           </td>
        </tr>
    </tbody>
</table>

<br>
<table cellpadding="10px" style="max-width:1000px; margin:10px auto;">
    <tbody class="flexible">
        <tr>
           <td class="text right_text">
            <h4>Counseling</h4>
            <h2>Designed to support therapeutic concordance and strengthen adherence and compliance between patients and caregivers. </h2>
            With assistance from vR, patients are better able to remember the the healthcare provider’s precise instructions and understand the meaning and value of said instructions. With a better and more accurate understanding of the therapeutic regime comes a increased ability and motivation to apply that guidance daily.
           </td>
           <td class="img">
            <img src="/assets/wellness/2.jpg" style="width:90%; margin:0 5%;">
           </td>
        </tr>
    </tbody>
</table>

<br>
<table cellpadding="10px" style="max-width:1000px; margin:10px auto;">
    <tbody class="flexible">
        <tr>
           <td class="img">
            <img src="/assets/wellness/3.jpg" style="width:90%; margin:0 5%;">
           </td>
           <td class="text">
            <h4>Coaching</h4>
            <h2>Coaching for the 21st Century.</h2>
            Coaching is widely regarded as a potent development force. Coaches must adapt in parallel with the evolution of the coachee and expand their tool kits to include technology-enabled methodologies. To sustain and deepen the impact of coaching in this new era, coaches must refine and build on their tools.
           </td>
        </tr>
    </tbody>
</table>

<br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-12 center_text">
            <br> <br> <br>
            <h3>Case Studies</h3>
            
            <hr class="small">
            <br> <br>

            <div class="case_studies">
                <a data-fancybox href="https://trello-attachments.s3.amazonaws.com/59f0a6eadde82452a316d9bb/5acc0c8b456efec52c9224f0/2cd0530d0c743c1df4b8b827ed135b62/vR_Wellness_and_Behavioral_Health_onepager.pdf">
                    <div class="case">
                        Wellness and Behavioral Health
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container" style="margin-top:100px; margin-bottom:100px;">
    <div class="row" style="text-align:center;">
        <div class="col-sm-3">
            <h5><a href="education">Education</a></h5>
        </div>
        <div class="col-sm-3">
            <h5><a href="business">Business</a></h5>
        </div>
        <div class="col-sm-3">
            <h5><a href="workforce">Workforce</a></h5>
        </div>
        <div class="col-sm-3">
            <h5><a href="wellness">Wellness</a></h5>
        </div>
    </div>
</div>