<table class="wrapper full bg_fixed bg_img" style="background-image:url('/assets/workforce/intro.jpg'); padding-top:30px;">
    <tbody>
        <tr>
            <td>
                <h1>videoRehearser in the Workforce</h1>
                <div style="max-width:500px; margin:5px auto;">
                    <h5>Learning is an underappreciated process that takes time and effort.</h5>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<br>
<table cellpadding="10px" style="max-width:1000px; margin:10px auto;">
    <tbody class="flexible">
        <tr>
           <td class="img">
            <img src="/assets/workforce/1.jpeg" style="width:90%; margin:0 5%;">
           </td>
           <td class="text">
            <h4>Interview Skills</h4>
            <h2>Employment problems are often significant in areas that lack access to mentorship and professional resources.</h2>
            videoRehearser helps organizations scale and deliver personalized training while providing around-the-clock access for those who need support. The platform increases the impact of the ratio of staff to client while adapting to the training style of the organization.
           </td>
        </tr>
    </tbody>
</table>

<br>
<table cellpadding="10px" style="max-width:1000px; margin:10px auto;">
    <tbody class="flexible">
        <tr>
           <td class="text right_text">
            <h4>On the Job Training</h4>
            <h2>“What should I say? I’d better ask my manager for help”.</h2>
            We’ve all been there. Starting a new position and wanting to look competent and able to demonstrate your unique talents is important to everyone. But unfortunately for you, don’t have enough on the job experience yet … especially the range  of experience needed to handle difficult customers. Your elearning software showed you something similar but clicking isn't the same as doing.
           </td>
           <td class="img">
            <img src="/assets/workforce/2.jpg" style="width:90%; margin:0 5%;">
           </td>
        </tr>
    </tbody>
</table>

<br>

<table cellpadding="10px" style="max-width:1000px; margin:10px auto;">
    <tbody class="flexible">
        <tr>
           <td class="img">
            <img src="/assets/workforce/3.jpg" style="width:90%; margin:0 5%;">
           </td>
           <td class="text">
            <h4>Soft Skills Training </h4>
            <h2>Soft skills are underappreciated but can determine the trajectory of your career.</h2>
            Soft skills help employers and employees. Each company looks for a different mix of skills and experience depending on the business it's in, but it's no longer enough to be a functional expert. To complement unique core competencies, there are certain "soft skills" every company looks for in a potential hire and seeks to develop in their existing workforce.
           </td>
        </tr>
    </tbody>
</table>

<br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-12 center_text">
            <br> <br> <br>
            <h3>Case Studies</h3>
            
            <hr class="small">
            <br> <br>

            <div class="case_studies">
                <a target="_blank" href="https://trello-attachments.s3.amazonaws.com/59f0a6eadde82452a316d9bb/5acc0c9511c1fdd983ed9412/4719076f800ede917b5ccda92c6ccef4/vR_for_Job_Skills_Training.pdf">
                    <div class="case">
                        Job Readiness
                    </div>
                </a>
                <a target="_blank" href="https://trello-attachments.s3.amazonaws.com/59f0a6eadde82452a316d9bb/5acc0d543b1ac50c55b93d9f/f6f5ea5a7998ebd25ffd7609b1862f19/vR_MDC_Year_Up_Case_Study.pdf">
                    <div class="case">
                        MDC Year Up
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container" style="margin-top:100px; margin-bottom:100px;">
    <div class="row" style="text-align:center;">
        <div class="col-sm-3">
            <h5><a href="education">Education</a></h5>
        </div>
        <div class="col-sm-3">
            <h5><a href="business">Business</a></h5>
        </div>
        <div class="col-sm-3">
            <h5><a href="workforce">Workforce</a></h5>
        </div>
        <div class="col-sm-3">
            <h5><a href="wellness">Wellness</a></h5>
        </div>
    </div>
</div>