<% content_for :body do %>
  <p>
    You have new feedback for one of your submitted rehearsals.
    Check it out here: <%= link_to "Go to videoRehearser", @url %>
  </p>

  <div>
    For support requests, contact us at support@videorehearser.com
    We'd love to hear what you think of the platform!
  </div>
<% end %>
