<% content_for :body do %>
  <p>
    <% if @status == 1 %>
      Nice work! 
      <br>
      Congrats, your rehearsal has been approved. You've completed your lesson!
    <%elsif @status == 2 %>
      Hmmmm! 
      <br>
      Let's try again, your rehearsal needs a little improvement.
    <%end%>
    <br>
    You can check it out here: <%= link_to "View the lesson", @url %>
  </p>

  <div>
    For any support requests, please contact us by emailing support@videorehearser.com
    
    We can't wait to hear what you think about vR! 
  </div>
<%end%>