<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New user sign up</h1>
    <p>
      A new user has signed up and needs your approval to enter the site.
    </p>
    <p>
      To approve them log in : <%= @url %>
    </p>
    <p>VR notifications! have great day admin.</p>
  </body>
</html>