<% content_for :body do %>

  <h3>New user sign up</h3>

  <p>
    A new user has signed up and needs your approval to enter the site.
    <br>
    <br>
    User Info:
    <br>
    name: <%= @user.full_name %>
    <br>
    email: <%= @user.email %>
  </p>

  <p>
    To approve them log in : <%= link_to "Go to videoRehearser", @url %>
  </p>

  <p>have a great day admin.</p>

<%end%>