<% content_for :body do %>
  <p>
    <span style="font-size:15px; font-weight:bold;"><%= @user.full_name %></span> was removed from the course: <span style="font-size:15px; font-weight:bold;"><%= @course.title %></span> and is now requesting re-access.
  </p>
<% end %>
