<% content_for :body do %>

  Thank you for signing up to use videoRehearser!
  <br><br> 
  Before we get you on, we'd love to chat with you and show you how to get the most out of the experience.
  Please <a href="http://www.calendly.com/mevurah" targer="_blank">contact us here</a> to schedule a short online demo so that we can show you how to navigage the interface. 
  <br><br>
  Rest assured that we have received your application and will get back to you shortly.
 
<%end%>
