<% if @all_prt || @mdl_prt || @prmt_prt %>
	
    <div class="video_black_bg">
		<div class="media_wrapper">
			<div class="ziggeo">
				<%= render './shared/ziggeoplayer', this_class: "explanation", token:@prior_expl.video_token %>
			</div>
		</div>
	</div>

	<div class="lesson_script <%= @this_added_class %>_script">
		<%= simple_format(@prior_expl.script) %>
	</div>
	<%= render 'scriptcontrol' %>
<% end %>