<% if @all_prt || @prmt_prt %>
	<div class="column">
		<div class="js-player demonstration prompt_video first_contact_intro" data-intro="Welcome to vR. In this screen, you’ll see the prompt - or, the question or cue that will serve as the thing you respond to.">
			Prompt: <span class="tooltip-custom" data-tooltip="This is the question or scenario you must respond to."> <img src="/assets/Antu_help_hover.png" width="22px"></span> <br><br>
		
			<div class="video_black_bg media_wrapper">
				<div class="ziggeo">
					<%= render './shared/ziggeoplayer', this_class: "prompt", token:@prior_prompt.video_token %>
				</div>
			</div>
			<div class="lesson_script <%= @this_added_class %>_script">
				<%= simple_format(@prior_prompt.script) %>
			</div>
			<%= render 'scriptcontrol' %>
		</div>
	</div>
<% end %>