<div class="script_control">
	<div class="text">Script opacity</div>
	<div class="<%= thisclass %>_switch switch">
		<div class="knob <%= thisclass %>_knob"></div>
	</div>
	<input type="range" class="<%= thisclass %>_script_opacity" min="0" max="1" value="1" step="0.1">
	<script type="text/javascript">
		scriptOpacityToggle('<%= thisclass %>')
	</script>
</div>