<h1>Editing Lesson</h1>

<%= render 'form' %>

<br><br>
<%= button_to "Delete Lesson", [@course, @topic, @lesson], method: :delete, data: {confirm: "Are you sure?"}, :class => 'red' %>
<button class="small_btn blue js-click_back">Back</button>
