<h1>Editing Lesson</h1>

<%= render 'form' %>

<br><br>
<%= link_to 'Enter Lesson', course_topic_lesson_path(@course, @topic, @lesson) %> <br>
<button class="small_btn blue js-click_back">Back</button>
