<div class="rehearsals_title">
	You have <span class="num"><%= feedback_notif.to_s %></span> Rehearsals with feedback.
</div>

<hr>

<button class="tab selected" data-frame='new_feedback' data-group='top'>New Feedback</button>
<button class="tab" data-frame='all_feedback' data-group='top'>All Feedback</button>

<div class="box_sep">
	<div class="all_content js-new_feedback_content">
		<div class="title">New Rehearsal Feedback</div>
		<div class="body">
			<% @rehearsals_with_new_feedback.each do |rehearsal| %>
				<%= link_to rehearsal.lesson.title, rehearsal_feedbacks_path(rehearsal) %>
				<br>
			<% end %>
		</div>
	</div>

	<div class="all_content js-all_feedback_content" style="display:none;">
		<div class="title">All Rehearsal Feedback</div>
		<div class="body">
			<% @rehearsals_with_feedback.each do |rehearsal| %>
				<%= link_to rehearsal.lesson.title, rehearsal_feedbacks_path(rehearsal) %>
				<br>
			<% end %>
		</div>
	</div>
	<!-- <div class="body"><button class="small_btn blue js-click_back">Back</button></div> -->
</div>