<div class="mobile_hamburger hamburger ion-navicon-round"></div>
<div class="main_nav_items away" data-mode="mobile_menu">
    <div class="mobile_hamburger ion-chevron-right"></div>
    <a href="/#overview" class="nav_item"> Overview </a>
    <% @main_menu.each do |menu| %>
        <%= link_to menu.capitalize, '/'+menu, class:'nav_item' %>
    <%end%>
    <%= link_to "Log In", new_user_session_path, class:'nav_item' %>
    <%= link_to "Register", new_user_registration_path, class:"nav_item" %>
</div>