<div class="dropdown" data-dropdown="notifDropdown">
    <div class="arrow_up center"></div>

    <div class="item">
        <h4 class="left">Notifications</h4>
        <div class="right ion-ios-gear-outline" style="font-size:18px; margin-top:10px;"></div>
    </div>

    <hr>
    <a href="<%= feedback_all_path %>" class="item link">
        <div class="left">Feedback</div>
    </a>
    <hr>
    <a href="<%= rehearsals_all_path %>" class="item link">
        <div class="left">Rehearsals</div>
    </a>
</div>