<div class="dropdown" data-dropdown="notifDropdown">
    <div class="arrow_up center"></div>

    <div class="item">
        <h4 class="left">Notifications</h4>
        <div class="right ion-ios-gear-outline" style="font-size:18px; margin-top:10px;"></div>
    </div>

    <hr>
    <%= link_to "Feedback", feedback_all_path, class:"item link" %>
    <hr>
    <%= link_to "Rehearsals", rehearsals_all_path, class:"item link" %>
</div>