<div class="search_form left">
  <input id="search_input" type="text" class="search" placeholder="Search Courses ...">
  <button id="search_btn" class="reg_btn blue ion-search"></button>
</div>

<% if current_user.level_2 %>
  <button class="small right green_sft shadebox_btn" data-shadebox="course_form">Add Course</button>
  <%= render './courses/popForm', course:@newCourse %>
<%end%>

<br> <br> <hr>

<div class="search_area">
	<!-- <div class="side"></div> -->
	
	<div class="search_list">
		<div class="card_list card_list_search" style="display:none;"></div>

		<div class="card_list card_list_original">
			<% @courses.each do |course| %>
				<%= render 'card', course_item:course, search:true %>
			<% end %>
		</div>
	</div>
</div>


<script>
  var timer;

  function searhCourses(){
    let searchTerm = $('input#search_input').val();
    
    if( searchTerm === "" ){    
      $('.card_list_search').hide();
      $('.card_list_original').show();
    }else{
      $('.card_list_original').hide();
      $('.card_list_search').show();
    }

    $.ajax({
      url:`/courses/search?term=${searchTerm}`,
      success: function(data){
        //console.log(data);
        console.log( `Search term: ${searchTerm}` );
      }
    });
  }

  $('.search_btn').click(function(){ searhCourses(); });

  $('input#search_input').on('input', function(){ 
    clearTimeout( timer );
    timer = setTimeout(function(){
      searhCourses(); 
    },500);
  });
</script>