'use strict';
<% if @courses.size > 0 %>
    $('.card_list_search').empty();
    <% @courses.each do |course| %>
        let courseCard = "<%= escape_javascript ( render partial: './courses/card', locals:{ course_item: course }) %>";
        $('.card_list_search').append(courseCard);
    <% end %>
<% else %>
    $('.card_list_search').html(`<center> <h4>No Courses found</h4> </center>`)
<% end %>