<% if course_creator %>
    <!-- Instructor -->
    <%= render './courses/mode/build' %>
<% else %>

    <% if  current_user.registered(@course) %>
        <!-- Registered -->
        <%= render './courses/mode/show' %>
    <% elsif @course.with_code? || @course.free? || @course.paid? %>
        <!-- Free/paid and Not Registered -->
        <%= render './courses/mode/demo' %>
    <% elsif @course.private? %>
        <!-- Private -->
        <center style="padding:250px 0;">
            <h1>This is a Private Course</h1>
        </center>
    <% end %>
    
<% end %>
