<% @course_regs.each do |cr| %>
  <%= cr.id.to_s %> | Course <%= cr.course_id.to_s %> | User <%= cr.user_id.to_s %>
  <a href="javascript:deleteReg();">Delete</a>

  <br>

  <script type="text/javascript">
    function deleteReg() {
    var answer = confirm ("Are you sure?.")
    if (answer)
      window.location="/delete_reg/<%= cr.id %>";
    }
  </script>
<% end %>