/*//
// This is a manifest file that'll be compiled into application.css, which will
// include all the files listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets,
// vendor/assets/stylesheets, or any plugin's vendor/assets/stylesheets directory
// can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at
// the bottom of the compiled file so the styles you add here take precedence
// over styles defined in any styles defined in the other CSS/SCSS files in this
// directory. It is generally better to create a new file per style scope.
//*/
header.header{
  padding:15px 10px;
	background-color:#eeeeee; overflow:hidden;
}header.header .menu_item{
	display:inline-block; float:right; padding:12px 5px;
}header.header a{
	color:#6A6A6A;
}*/

/*menu{
  max-width:1100px; margin:0 auto; padding:0;
}

header.header .logo{
	display:inline-block; padding:5px 5px 0 0; width:130px;
}*/

/*TRANSPARENT BLUR BG CSS =================================*/
/*
.blur-wrapper{
  position: relative;
  color: white;
  margin: 10px auto;
}.blur-bg{
  background-repeat: no-repeat;
  position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px;
  z-index: 1;

  -webkit-filter: blur(5px);
  filter: url('/media/blur.svg#blur');
  filter: blur(5px);

}.blur-text{
  position: relative; z-index: 3;
  padding: 10px; overflow: hidden;
  border-radius:5px;
}


.login_top{
	height:500px;
}.login_top .blur_form{
	margin-top:100px; max-width:1100px;
}*/

/*.register_form{
  margin: 0; height:calc(100% - 310px);
}.register-text{
  border-radius:0px; padding:5px 30px; margin:0;
}.register-text form input, .register-text form select{
  width:300px; margin:5px auto; float:none;
}.register-text form input.button{
  width:inherit;
}.register-text form .label{
  width:300px; text-align:left;
}
*/
/*
.black-bg_02{
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.2);
}.black-bg_05{
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.5);
}.black-bg_08{
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.8);
}.white-bg_05{
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.5);
}.white-bg_08{
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.8);
}.white-bg_09{
  background: rgb(255,255,255);
}*/

/*.bg_scroll{
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}.bg_fixed{
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
}.dynamic_h{
	position:relative;
	overflow:hidden;
	width: 100%;
}*/

/*================ END of BLUR BG ==========================*/
/*.half{
  width:50%; float:left; padding: 5px; margin:0;
}.third{
  width:50%; float:left; padding: 5px;
}
.register_height{
    height:100%;
}*/
