/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

$site_size:1200px;

$base_color:#0070C0;
$base_color_hover:#75BCFF;

$primary_color:#666666;
.primary_color{color:#666666;}

$secondary_color:#59C9E9;
.secondary_color{color:#59C9E9;}

$third_color:#F6E6D6;
.third_color{color:#F6E6D6;}

$grey_color:#D9D9D9;
.grey_color{color:#D9D9D9;}
 

$primary_font:'Roboto', sans-serif;
$secondary_font:'PT Sans', sans-serif;



// HAMBURGER MENU
.topnav {
  overflow: hidden;

  & .sepa{
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
  }

  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding-bottom:10px;
    
    &:not(:first-child)  {
      float: right;
      padding: 15px 20px;
    }

    &:hover {
      color: black;
    }
  }

  & .icon {
    display: none;
  }

}

.active {
  background-color: #4CAF50;
  color: white;
}



/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) { display: none; }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
    & .sepa{
      width: 100%;
      height: 30px;
      float: none;
    }
    a {
      float: none;
      display: block;
      text-align: center;
      
      &.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}









.login_links{
  a{color:#44B7FF;}
}

/*TRANSPARENT BLUR BG CSS =================================*/

.blur-wrapper{
  position: relative;
  color: white;
  margin: 10px auto;
}.blur-bg{
  background-repeat: no-repeat;
  position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px;
  z-index: 1;

  -webkit-filter: blur(5px);
  filter: url('/media/blur.svg#blur');
  filter: blur(5px);

}.blur-text{
  position: relative; z-index: 3;
  padding: 10px; overflow: hidden;
  border-radius:5px;
}


.login_top{
	height:auto;
}.login_top .blur_form{
	margin:50px auto; max-width:1100px;
}

.black-bg_02{
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.2);
}.black-bg_05{
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.5);
}.black-bg_08{
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.8);
}.white-bg_05{
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.5);
}.white-bg_08{
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.8);
}.white-bg_09{
  background: rgba(255,255,255,0.9);
}

.bg_scroll{
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}.bg_fixed{
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
}.dynamic_h{
	position:relative;
	overflow:hidden;
	width: 100%;
}

/*================ END of BLUR BG ==========================*/
.full{
  width:100%; float:left; padding: 5px;
}

.float_left{ float:left; margin:5px; }

.half{
  width:50%; float:left; padding: 5px;
}

.third{
  width:32.5%; float:left; padding: 5px; margin:5px 0.25%;
}.thrd{ width:32.5%; min-width:200px; margin:0.15%; float:none; display:inline-block;}

.quarter{ 
  width:24%; float:left; min-width:200px; margin:0.25%;
}




.course_topic{ 
  progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    min-width: 300px;
    height: 15px;

    /* Firefox */
    border: none;
    background: #EEE;
    border-radius: 1px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2) inset;
  }
  progress::-webkit-progress-bar {
    background: #EEE;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2) inset;
    border-radius: 1px;
  }

  progress::-webkit-progress-value {
    background-color: #08C309;
    border-radius: 1px;
  }

  progress::-moz-progress-bar {
    background-color: #08C309;
    border-radius: 1px;
  }
}

.user_courses{ 
  progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    height: 3px;

    /* Firefox */
    border: none;
    background: #ddd;
    border-radius: 1px;
  }
  progress::-webkit-progress-bar {
    background: #ddd;
    border-radius: 3px;
  }

  progress::-webkit-progress-value {
    background-color: #0883C3;
    border-radius: 1px;
  }

  progress::-moz-progress-bar {
    background-color: #0883C3;
    border-radius: 1px;
  }
}

.back_button{
  padding: 1px 10px 2px 20px; border-radius:3px; font-size:12px;
  background-image:url('/assets/back_button.jpg'); color:white; font-weight:bold;
  background-size:cover; background-position:left center; background-repeat:no-repeat;
  display: inline-block;
}
.edit { font-weight:bold; }

.emailbox {

  font-family: 'Architects Daughter', cursive;
  font-size: 150%;
  font-weight: 400;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 50em;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}





/* Mobile Layout: 480px and below. */
@media only screen and (max-width: 480px) {
  .half{
    width:95%; float:none; padding: 5px; margin:2.5%; overflow:hidden;
  }
}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

}