/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header.header{
  padding:0 10px; position: relative; z-index:5; text-align:center;
	background-color:rgba(255,255,255,0.8); overflow:hidden;
  &.home{ background-color:rgba(0,0,0,0.5); 
    a{ color:white; }
    & .menu_list{
      & .register_item{
        background-color:transparent; border:white solid 1px; border-radius:3px; color:white;
        &:hover{ background-color:rgba(255,255,255,0.5); transition:0.5s;}
      }
    }
  }
  & .logo{
  	display:inline-block; float:left; padding:5px; width:130px;
    img{ height:30px; }
  }
  & .menu_item{
    display:inline-block; float:none; padding:5px 7px; margin:5px 10px 0;
    font-family:'webly_reg'; font-size:13px; letter-spacing:0.1em; color:#4482c3;
  }
  & .menu_list{
    float:right; overflow:hidden;

    & .register_item{
      background-color:#4482c3; border-radius:3px; color:white; font-weight:bold;
      &:hover{ background-color:#3566FF; transition:0.5s;}
    }
  }
  a{
    color:#4482c3; font-weight:bold;
  }
  menu{
    overflow:hidden; max-width:1100px; margin:0 auto; padding:4px 10px; z-index: 3;
  }
}


/*TRANSPARENT BLUR BG CSS =================================*/

.blur-wrapper{
  position: relative;
  color: white;
  margin: 10px auto;
}.blur-bg{
  background-repeat: no-repeat;
  position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px;
  z-index: 1;

  -webkit-filter: blur(5px);
  filter: url('/media/blur.svg#blur');
  filter: blur(5px);

}.blur-text{
  position: relative; z-index: 3;
  padding: 10px; overflow: hidden;
  border-radius:5px;
}


.login_top{
	height:auto;
}.login_top .blur_form{
	margin:50px auto; max-width:1100px;
}

.register_form{
  margin: 0; height:calc(100% - 200px);
}.register-text{
  border-radius:0px; padding:5px 30px; margin:0;
}.register-text form input, .register-text form select{
  width:300px; margin:5px auto; float:none;
}.register-text form input.button{
  width:inherit;
}.register-text form .label{
  width:300px; text-align:left;
}


.black-bg_02{
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.2);
}.black-bg_05{
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.5);
}.black-bg_08{
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.8);
}.white-bg_05{
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.5);
}.white-bg_08{
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.8);
}.white-bg_09{
  background: rgba(255,255,255,0.9);
}

.bg_scroll{
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}.bg_fixed{
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
}.dynamic_h{
	position:relative;
	overflow:hidden;
	width: 100%;
}

/*================ END of BLUR BG ==========================*/
.full{
  width:100%; float:left; padding: 5px;
}

.float_left{ float:left; margin:5px; }

.half{
  width:50%; float:left; padding: 5px;
}

.third{
  width:32.5%; float:left; padding: 5px; margin:5px 0.25%;
}.thrd{ width:32.5%; min-width:200px; margin:0.15%; float:none; display:inline-block;}

.quarter{ 
  width:24%; float:left; min-width:200px; margin:0.25%;
}


.register_height{
    min-height:100%;
}

.course_topic{ 
  progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    min-width: 300px;
    height: 15px;

    /* Firefox */
    border: none;
    background: #EEE;
    border-radius: 1px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2) inset;
  }
  progress::-webkit-progress-bar {
    background: #EEE;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2) inset;
    border-radius: 1px;
  }

  progress::-webkit-progress-value {
    background-color: #08C309;
    border-radius: 1px;
  }

  progress::-moz-progress-bar {
    background-color: #08C309;
    border-radius: 1px;
  }
}

.user_courses{ 
  progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    height: 3px;

    /* Firefox */
    border: none;
    background: #ddd;
    border-radius: 1px;
  }
  progress::-webkit-progress-bar {
    background: #ddd;
    border-radius: 3px;
  }

  progress::-webkit-progress-value {
    background-color: #0883C3;
    border-radius: 1px;
  }

  progress::-moz-progress-bar {
    background-color: #0883C3;
    border-radius: 1px;
  }
}


.back_button{
  padding: 1px 10px 2px 20px; border-radius:3px; font-size:12px;
  background-image:url('/assets/back_button.jpg'); color:white; font-weight:bold;
  background-size:cover; background-position:left center; background-repeat:no-repeat;
  display: inline-block;
}
.edit { font-weight:bold; }