// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course_title{
	font-weight:bold; font-size:20px; margin-bottom:5px; display:inline-block;
}
.card_list{
	overflow:hidden;
	& .card_item{
		background-color:rgba(white, 0.6); border-radius:1px; border:0;
		min-width: 250px; width:24%; display:inline-block; overflow:hidden;
		& .card_title_sec{
			margin:0; background-color:white; overflow:hidden;
			& .card_title{
				font-size:15px; font-family:'webly_bld'; float:left; text-align:left; 
				width: 90%; padding:5px;
			}
			& .card_edit{
				font-size:15px; font-family:'webly_bld'; float:left; text-align:center; 
				width: 10%; padding:5px; color:#ccc;
				&:hover{
					background-color: #0095DD ; color:white;
				}
			}
		}
		& .card_desc, & .card_edit_sec{
			height: 100px; overflow:hidden;
			padding:5px; border-top:1px dotted #CDCDCD;
		}
		& .card_edit_sec{
			padding:10px 5px; text-align:center;
		}
	}

	& .home_card_title_sec{
		background-color:white; float:left; overflow:hidden; margin:5px;
		& .home_card_title{
			font-size:15px; font-family:'webly_bld'; float:left; text-align:left; 
			padding:5px 15px;
		}
		& .home_card_edit{
			font-size:15px; font-family:'webly_bld'; float:left; text-align:center; 
			padding:5px 10px; color:#ccc;
			&:hover{
				background-color: #0095DD ; color:white;
			}
		}
		& .home_card_delete{
			font-size:15px; font-family:'webly_bld'; float:left; text-align:center; 
			padding:5px 10px;
			&:hover{
				background-color: #FF0000 ; color:white;
				a{ color:white; }
			}
			a{ color:#aaa; }
		}
	}

}


.user_course_title{font-size:15px; font-family:'webly_reg'; margin:5px auto;  }