// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course_title{
	font-weight:bold; font-size:20px; margin-bottom:5px; display:inline-block;
}
.card_list{
	overflow:hidden;
	& .card_item{
		background-color:white; border-radius:5px; border:1px solid #CDCDCD;
		min-width: 250px; width:19%; display:inline-block; overflow:hidden;
		& .card_title{
			font-size:18px; font-family:'webly_reg'; text-align:center; 
			padding:5px; margin:0 10px; border-bottom:1px dotted #CDCDCD;
		}
		& .card_desc{
			height: 80px; overflow:hidden;
			padding:5px;
		}
		& .card_edit_sec{
			padding:0 0 5px 0;
			& .card_edit{
				background-color:green; float: left; padding:2px 10px; 
				border-radius:0 20px 0 0;
				a{ color: white; font-weight:bold; font-family:'webly_bld';}
			}
			& .card_delete{
				background-color:red; float:right; padding:2px 7px;
				border-radius:10px 0 0 0;
				a{ color: white; font-weight:bold; font-family:'webly_bld';}
			}
		}
	}
}


.user_course_title{font-size:15px; font-family:'webly_reg'; margin:5px auto;  }