// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'scaffold';

.course_title{
	font-weight:bold; font-size:15px; margin:5px; display:inline-block;
	& .grey{
		color:#D1D1D1;
	}
}

.about_course{
	width:70%; max-width:600px; float:left; margin-bottom:30px;
	font-size:16px;
	& .title{ font-family:'webly_bld'; }
}
.course_instructor{
	width:200px; margin:0 0 0 5px; float:right; text-align:left;
	& .title{ font-family:'webly_bld'; }
}

.privacy{
	font-size:12px;
	margin:0 5px;
}

#topic_card_delete{
  float: right;
  color: white;
}

.card_list{
	overflow:hidden;
	& .card_item{
		border-radius:1px; border:0;
		min-width: 250px; width:24%; max-width:350px; display:inline-block; overflow:hidden;
		& .card_title_sec{
			margin:0; background-color:white; overflow:hidden;
			& .card_title{
				font-size:15px; font-family:'webly_bld'; float:left; text-align:left; 
				width: 100%; padding:5px;
			}
		}
		& .card_desc, & .card_edit_sec{
			background-color:rgba(white, 0.5);
			height: 100px; overflow:hidden; position:relative;
			padding:5px; border-top:1px dotted #CDCDCD; text-align:left;
			&:hover{
				background-color:white;
			}
			& button.register_to_course, & .course_content, & button.start_course{
				position:absolute; bottom:0; padding:1px 5px;
				font-size:10px; font-weight:500; border-radius:0;
			}
			& .course_content{
				width:calc(100% - 50px); left:0;
				background-color:#eee;
			}
			& button.register_to_course, & button.start_course{
				width:50px; right:0; margin:0;
				background-color:#14A0D7; color:white;
				text-align: center;
				&:hover{ background-color:#333; }
			}
			& button.start_course{ background-color:#1CDC69; }
		}
		& .card_edit_sec{
			padding:20px 5px; text-align:center;
		}
	}
	
	& .card, & .home_card{
		margin:0;
		float:left; 
		// border-radius: 5px ;
		overflow: hidden; text-align:left;
		transition:0.5s;
		& .card_title{
			padding:5px 8px; font-size:14px;
			font-family:'webly_bld';
			transition:0.5s;
			// border-radius:5px 5px 0 0;
		}
		& .card_desc{
			height: 80px; overflow:hidden; position:relative;
			padding:5px 8px; color:#333;
			// border:1px solid #ddd; border-radius:0 0 5px 5px ;
			border-top:0;
			transition:0.5s;
		}
		&:hover{
			// @include box_extrude(#ccc, 3);
			// position: relative; top:-2px;
			transition:0.5s;
		}
		& .bottom_count{
			position: absolute;
		    left: 5px;
		    bottom: 5px;
		    overflow: hidden;
		    width: 95%;
		    background-color:none;

			& .circle_count{
				width:7px; height:7px; float: left; 
			    color:#00BDFF; border-radius:50%; border:2px solid;
			    margin: 1px;
			    &.pending{ color:#FEA808; background-color:#FEA808; }
			    &.done{ color:#28D024; background-color:#28D024; }
			}
			& .bar_count{
				width:12px; float: left; 
			    color:#00BDFF; border-radius:2px; border:2px solid;
			    margin: 2px 2px;
			    &.submitted, &.has_feedback{ color:#FEA808; }
			    &.imcomplete, &.rejected{ color:red; }
			    &.done, &.approved{ color:#28D024; }
			    &.has_rehearsal{ color:rgb(36, 131, 208); }
			    &.new{ color:rgb(126, 126, 126); }
			}
		}
		&.newcard{
			transition:0.5s;
			& .card_title{
				background-color:#1EA402;
				transition:0.5s;
			}
			& .card_desc{
				background-color:#C4FFC4;
				transition:0.5s;
			}
		}
	}

	& .home_card{
		overflow:hidden;
		margin:0 0.5% 4px 0;
		& .card_title{
			background-color: #FF7C86; color: white; overflow:hidden;
			padding:0; height:30px;
			& .title_name{ width:calc(100% - 60.92px); color: white; float:left;  padding:5px 10px;}
		}
		& .card_desc{
			position:relative; background-color:#FFEBE7;
			a{color:black;}
		}
		& .card_edit{
			font-size:14px; font-family:'webly_bld'; float:right; text-align:center; 
			padding:5px 10px; color:#fff;
			&:hover{
				background-color: #0095DD ; color:white;
			}
		}
		& .card_delete{
			font-size:14px; font-family:'webly_bld'; float:right; text-align:center; 
			padding:5px 10px;
			&:hover{
				background-color: #FF0000 ; color:white;
				a{ color:white; }
			}
			a{ color:red; }
		}
	}

	& .card{
		margin:0 0.5% 4px 0;
		& .card_title{
			&.course{ background-color: #FF7C86; color: white; }
			&.topic{ background-color: #00B1D8; color: white; }
		}
		& .card_desc{
			&.course{ background-color:rgba(#fff, 0.5); }
			&.topic{ background-color:#fff; }
		}
	}

}


.user_course_title{font-size:15px; font-family:'webly_reg'; margin:5px auto;  }

@media only screen and (max-width: 495px) {
  	.card_list{
  		& .home_card, & .card{
			width:99.5%;
			& .card_title{ line-height:1.5em;}
		}	
	}
}

/* Tablet Layout: 615px to 826px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 496px) {
  	.card_list{
  		& .home_card, & .card{
			width:49.5%;
			& .card_title{ line-height:1.5em;}
		}	
	}
}

/* Desktop Layout: 827px to max.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 827px) {
  	.card_list{
  		& .home_card, & .card{
			width:32.83%;
		}	
	}
}

/* Desktop Layout: 1261px to max.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1051px) {
  	.card_list{
  		& .home_card, & .card{
			width:24.5%; max-width:350px;
		}	
	}
}