// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



header.inter_header{
	height:40px; padding:5px 10px; position:relative; z-index: 3;
	background-color:rgba(0,0,0,0.8); overflow:hidden;
	& .right_item{
		float:right; padding:5px 9px; font-weight:bold;
		&:hover{
			background-color:#FFFFFF; border-radius:5px;
			a{ color:#4482c3; }
		}
	}
	menu{
 		max-width:1100px; margin:0 auto; padding:0; z-index: 3;
	}
}


$mn_pnl_s: 50px ;
$mx_pnl_s: 150px ; 
$mx_tsk_s: 200px ;
$min_height: 700px ;
$panel_color: rgba(#4D4D4D,0.7) ; 

.inter_wrapper{
	// min-height:$min_height; 
	background-image:url('/assets/blur-bg_6.jpg');
	background-size:cover;
}

.leftpanel{
	text-align:center; font-size: 20px; color:white; 
	background-color:$panel_color; 
	// min-height:$min_height;
	width:$mn_pnl_s; padding:2px 0;
	&.max{
		width:$mx_pnl_s; text-align:left; font-size: 14px; padding:2px 5px;
		// & .current_user_pic{
		// 	 float:left; width:100%; margin:20px 20px 10px;
		// 	img{
		// 		width:50px;
		// 	}
		// }
	}
}

.tasks{
	text-align:center; font-size: 20px; color:white; 
	background-color:$panel_color; 
	// min-height:$min_height;
	width:$mn_pnl_s; padding:2px 0;
	& .panel_seperator{
		border-bottom:1px dotted #B9FFFE;
	}
	&.tmax{
		width:$mx_tsk_s; text-align:left; font-size: 14px; padding:2px 0;
		& .task_list.max{
			background-color: white; color:#858585; min-height:calc(100% - 34px);
			color: #333;
			a{
				color: #333;
			}
		}
	}
}

.inter_content{
	width:100%; float:left;
	background-color:rgba(255,255,255,0.5); 
	padding:5px; margin:0;
	min-height:$min_height;
	// &.max{
	// 	width:calc(100% - 160px);
	// 	&.tmax{
	// 		width:calc(100% - 310px);
	// 	}
	// }
	// &.tmax{
	// 	width:calc(100% - 260px);
	// }
	& a {
	  color: #6195C2;

		&:visited, &:hover, &:focus {
			color: #6195C2; text-decoration:none;
		}

		&.red_link{
			padding:2px 3px; border-radius:3px;
			background-color:#FF0000; color: white;
			&:hover{
			   background-color:#7D0009;
			}
		}
		&.red_text{
			color:#FF0000;
			&:hover{
			   color:#7D0009;
			}
		}
	}


	& .top_info{
		padding:0 5px; margin:0 0 10px; border-bottom:solid #ddd 2px; overflow:hidden;
		width:100%; background-color:#fff;
		& .user_stat{ 
			padding:0; margin:0 15px; float:left; text-align:center;
			& .number{ float:none; width:100%; margin:4px auto 0 auto; font-family:'webly_bld'; font-size:18px; font-weight:bold; color:#4482c3; }
			& .stat{ float:none; width:100%; margin:0 auto; padding-top:-3px; font-size:9px; }
		}
	}
	& .box_sep{
		margin:5px 0; border-bottom:solid #ddd 2px; overflow:hidden;
		width:100%; background-color:rgba(255,255,255,0.5);
		& .title{ padding:10px; background-color:#fff; }
		& .body{ padding:10px; }
	}
	& .body{
		height:calc(100% - 200px); padding:10px; overflow:hidden;
	}
}


.main_title{
  font-weight:bold; font-size:20px; font-family:'webly_bld'; margin:10px auto 15px; 
}


footer{
	background-color:#363636; color:white; height:200px;
	& .foot_width{
		max-width: 1100px;
	}
	a{
		color:white;
	}
}


.panel_seperator, .tpanel_seperator{
	border-bottom:1px dotted #4C668F; padding:5px; margin:0; overflow:hidden; z-index:1;
	&.max{
		padding:5px 10px;
	}
}

.panel_icon, .task_icon{
	margin:20px auto; width:100%; overflow:hidden; max-height:20px;
	&:hover{
		color:#ccc;
	}
	& .text_label, & .task_label{display:none; float:left; font-size:13px;}
	& .icon.max, & .ticon.max{
		float:left; margin-right:5px;
	}
}
.notif_num, .tnotif_num{
	width:14px; height:14px;
	border-radius:50%; background-color:red;
	position: relative; top:-20px; right:-20px; z-index:3;
	text-align: center; font-size: 9px; color: white; font-weight: bold;
	& .notif{
		position: relative; top:-2px;
	}
	&.max{
		position: relative; top:-20px; right:-80px; z-index:3;
		border-radius:4px; background-color:red; color:red;
	}
}




// ========================================================




.section{
	// background-color:white; 
	padding:5px;
	border-radius:1px;
	overflow:hidden;
}

/* Mobile Layout: 480px and below. */
@media only screen and (max-width: 480px) {

}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
}