// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.banner{
	background-position: top; background-size:cover;
	width:100%; height:190px; 
	padding:0; margin:0;
	background-color:#C9C9C9; 
	position: relative;	overflow:hidden;
	color: white;
	& .user_info{
		width:300px;  height:100%;
		position: relative; top:0; z-index: 2;
		overflow: hidden; padding:10px 0 5px;
		backdrop-filter: blur(5px); background-color:rgba(0,0,0,0.7);

		// & .user_info_top{
		// 	border-bottom:1px rgba(255,255,255,0.1) solid; padding:5px 10px; margin-bottom:20px; font-size:17px; font-weight:bold;
		// }
		& .profile_pic{
			float:left; width:100px; padding:10px; margin-left:20px;
			img{
				width:100%;
			}
		}
		& .profile_info{
			float:left; width:calc(100% - 120px); padding:10px 0 10px 10px;
		}
	}
}

$mn_pnl_s: 50px ;
$mx_pnl_s: 150px ;
$min_height: 1000px ;
$panel_color: rgba(#4D4D4D,0.7) ; 

.inter_wrapper{ 
	background-image:url('/assets/blur-bg_6.jpg');
	background-size:cover;
	min-height:$min_height; width:100%;
}

.leftpanel{
	width:$mn_pnl_s; min-height:$min_height; float:left;
	background-color:$panel_color; position:relative; z-index:5;
	padding:0;
	&.max{
		width:$mx_pnl_s; min-height:$min_height;
		text-align:left; font-size: 14px; padding:0;
	}
	& .panel_seperator{
		border-bottom:1px dotted #aaa; padding:0; margin:0; overflow:hidden; z-index:1;
		&.max{
			// padding:0;
		}
		& .panel_icon{
			margin:0; padding:15px;
			width:100%; color:#fff; overflow:hidden;  
			
			img{ width:20px; float:left; opacity: 0.5;
				&:hover{
					opacity: 1;
				}
			}

			& .icon{ font-size:20px; float:left; opacity: 0.5;
				&:hover{
					opacity: 1;
				}
			}

			& .text_label{ 
				display:none; float:left; font-size:15px; padding:1px 0 1px 10px;
			}
			
			& .notif{
				width:10px; height:10px;
				border-radius:50%; background-color:red;
				position: relative; top:0px; right:-10px; z-index:3;
				text-align: center;
				& .notif_num{
					font-size: 0;
					&.max{
						position: relative; top:-2px; z-index:3;
						font-size: 11px; font-weight:bold;
					}
				}
				&.max{
					width:20px;  height:14px; display:inline-block;
					border-radius:5px; background-color:red;
					margin-top: 3px;
				}
			}
		}
	}
}

.sidepanel{
	position:absolute; left:-250px; top:0px; z-index:3;
	min-width:200px; min-height:100%;
	padding:10px;
	background-color:rgba(#222,1); opacity: 0; transition: 0.5s;
	color:white;
	&.open{
		left:$mn_pnl_s;
		transition: 0.5s;
		opacity: 1;
		&.max{
			left:$mx_pnl_s;
			transition: 0.1s;
		}
	}
}

.inter_content{
	width:calc(100% - 50px); min-height:$min_height; float:left;
	background-color:rgba(255,255,255,0.9); 
	padding:0; margin:0;

	&.max{
		width:calc(100% - 150px);
	}

	a {
	  color: #6195C2;

		&:visited, &:hover, &:focus {
			color: #6195C2; text-decoration:none;
		}

		&.red_link{
			padding:2px 3px; border-radius:3px;
			background-color:#FF0000; color: white;
			&:hover{
			   background-color:#7D0009;
			}
		}
		&.red_text{
			color:#FF0000;
			&:hover{
			   color:#7D0009;
			}
		}
	}


	& .top_info{
		padding:0 5px; margin:0 0 10px; border-bottom:solid #ddd 2px; overflow:hidden;
		width:100%; background-color:#fff;
		& .user_stat{ 
			padding:0; margin:0 15px; float:left; text-align:center;
			& .number{ float:none; width:100%; margin:4px auto 0 auto; font-family:'webly_bld'; font-size:18px; font-weight:bold; color:#4482c3; }
			& .stat{ float:none; width:100%; margin:0 auto; padding-top:-3px; font-size:9px; }
		}
	}
	& .box_sep{
		margin:5px 0; border-bottom:solid #ddd 2px; overflow:hidden;
		width:100%; background-color:rgba(255,255,255,0.5);
		& .title{ padding:10px; background-color:#fff; }
		& .body{ padding:10px; }
	}
	& .body{
		height:calc(100% - 200px); padding:10px; overflow:hidden;
	}
}


.main_title{
  font-weight:bold; font-size:20px; font-family:'webly_bld'; margin:10px auto 15px; 
}


footer{
	background-color:#363636; color:white; min-height:200px;
	& .footer_width{
		max-width: 1100px; margin:10px auto 0; padding:5px; overflow: hidden;
		text-align: center;
		
		& .footer_newsletter{
			border-bottom:1px solid #454545; max-width:80%; margin:10px auto; padding-bottom:20px;
		}

		& .footer_l, & .footer_m, & .footer_r{
			margin:1%; padding:1%; float:none; display:inline-block; text-align:left; overflow:hidden;
			& .footer_sec{
				float:left; margin: 0 40px 0 0;
				line-height: 2em;
			}
		}

		& .footer_l{ width: 410px; }
		& .footer_m{ width: 26%; }
		& .footer_r{ width: 21%; text-align:right; margin-bottom:20px; line-height:2em;}
	}
	a{ color:white; }
	& .title{ font-family:'webly_bld'; font-size:15px; margin-bottom:10px; }
	& .contact_footer{
      background-color:transparent; border:1px solid; border-radius:3px; color:white; font-weight:bold; width:100%;
      margin-top: 25px;
      &:hover{ background-color:#999; transition:0.5s;}
    }
    & .social_icon{
    	font-size: 20px; margin:5px 15px;
    }
    & .social_icon_2{
    	font-size: 15px; margin:8px 15px;
    }
}




// ========================================================




.section{
	// background-color:white; 
	padding:5px;
	border-radius:1px;
	overflow:hidden;
}

/* Mobile Layout: 480px and below. */
@media only screen and (max-width: 480px) {

}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 769px) {
}