// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



header.inter_header{
	height:40px; padding:5px 10px;
	background-color:#4482c3; overflow:hidden;
	& .right_item{
		float:right; padding:5px 9px; font-weight:bold;
		&:hover{
			background-color:#FFFFFF; border-radius:5px;
			a{ color:#4482c3; }
		}
	}
}

.inter_wrapper{
	height:100%;
}

$mn_pnl_s: 50px ;
$mx_pnl_s: 100px ; 
$mx_tsk_s: 200px ; 

.leftpanel{
	float:left; position:relative; top: -50px; color:white; padding:2px 0;
	background-color:#0e2433; min-height:calc(100% + 50px);
	width:$mn_pnl_s; text-align:center; font-size: 20px;	

	&.max{
		width:$mx_pnl_s; text-align:left; font-size: 14px; padding:2px 0;
		& .current_user_pic{
			 float:left; width:100%; margin:20px 20px 10px;
			img{
				width:50px;
			}
		}
	}
}

.tasks{
	float:left; position:relative; top: -38px; right:0; color:white; padding:2px 0;
	background-color:#4482c3; min-height:calc(100% - 112px);
	width:$mn_pnl_s; text-align:center; font-size: 20px;
	& .panel_seperator{
		border-bottom:1px dotted #B9FFFE;
	}
	&.tmax{
		width:$mx_tsk_s; text-align:left; font-size: 14px; padding:2px 0;
		& .task_list.max{
			background-color: white; color:#858585; min-height:calc(100% - 34px);
			color: #333;
			a{
				color: #333;
			}
		}
	}
}

.inter_content{
	min-height:calc(100% - 150px); width: calc(100% - 100px); float:left;
	background-color:#F2F2F2; padding: 55px 20px 10px;
	&.max{
		width:calc(100% - 150px);
		&.tmax{
			width:calc(100% - 300px);
		}
	}
	&.tmax{
		width:calc(100% - 250px);
	}
	& .top_info{
		padding:0 5px 0 60px; margin: 0 0 30px 40px; border-bottom:solid #ddd 1px; overflow:hidden;
		position:relative; top:-55px; width:calc(100% + 30px); background-color:#fff;
		& .user_name{ font-size:17px; font-weight:bold; padding:11px 50px 11px 5px; float:left; }
		& .user_stat{ 
			padding:0; margin:0 15px; float:left; text-align:center;
			& .number{ float:none; width:100%; margin:4px auto 0 auto; font-family:'webly_bld'; font-size:18px; font-weight:bold; color:#4482c3; }
			& .stat{ float:none; width:100%; margin:0 auto; padding-top:-3px; font-size:9px; }
		}
	}
	& .top_fix{
		position:relative; top:-55px;
	}
	& a {
	  color: #6195C2;

		&:visited, &:hover, &:focus {
			color: #6195C2; text-decoration:none;
		}

		&.red_link{
			padding:2px 3px; border-radius:3px;
			background-color:#FF0000; color: white;
			&:hover{
			   background-color:#7D0009;
			}
		}
		&.red_text{
			color:#FF0000;
			&:hover{
			   color:#7D0009;
			}
		}

	}
}








.panel_seperator, .tpanel_seperator{
	border-bottom:1px dotted #4C668F; padding:5px; margin:0; overflow:hidden; z-index:1;
	&.max{
		padding:5px 10px;
	}
}.panel_seperator .logo_img{
	max-width:30px; margin:10px auto 10px;
}.panel_seperator .logo_img.max{
	max-width:30px; float: left; margin:10px 0 10px;
}.panel_seperator .logo_text{
	display:none; padding:10px 0 10px 5px; margin-top:5px; float:left; width:calc(100% - 30px);
}

.panel_icon, .task_icon{
	margin:20px auto; width:100%; overflow:hidden; max-height:20px;
	&:hover{
		color:#C5C5C5;
	}
	& .text_label, & .task_label{display:none; float:left; font-size:12px;}
	& .icon.max, & .ticon.max{
		float:left; margin-right:5px;
	}
}
.notif_num, .tnotif_num{
	width:14px; height:14px;
	border-radius:50%; background-color:red;
	position: relative; top:-20px; right:-20px; z-index:3;
	text-align: center; font-size: 9px; color: white; font-weight: bold;
	& .notif{
		position: relative; top:-2px;
	}
	&.max{
		position: relative; top:-20px; right:-80px; z-index:3;
		border-radius:4px; background-color:red; color:red;
	}
}


.inter_tab_select{
	padding: 10px; text-align:center;
	color:white; font-family:'webly_reg'; font-size:18px;
	&.red{ background-color:#D27575; }
	&.blue{ background-color:#6A9FD9; }
	&.green{ background-color:#5DD05D; }
	&.yellow{ background-color:#CACA64; }
	&.trans{ background-color:transparent; font-family:'webly_bld'; color:#5D5D5D; }
}