// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.lesson_explanation{
}

.perfomance{
	width:630px; margin:5px; float:left;
	ziggeo{
		width: 100%;
	}
}

.prompt_model{
	width:430px; margin:5px;  float:left;
	& .lesson_prompt{
		 margin:10px 0;
	}
	& .lesson_model{
		 margin:10px 0;
	}
}

.lesson_progress_bar{
	max-height:95px; overflow:hidden;
	margin-bottom:10px; padding:5px 0;
	text-align:center;
	& .progress_unit{
		width: 33.33%; margin:5px 0;
		float: left; position:relative; top: -35px;
		text-align:center; padding-bottom:5px;
		& .progress_btn{
			width:30px; height:30px; margin:5px auto; padding-top:2px;
			border: grey 3px solid; border-radius:50%; background:white; 
			font-size: 20px;
			&.notready{ border: red 3px solid; background: #FF7B7B; color:red;}
			&.caution1{ border: red 3px solid; background: #FF7B7B; color:red;}
			&.caution2{ border: orange 3px solid; background: #FFD78C; color:orange;}
			&.ready{ border: green 3px solid; background: #6EFF6E; color:green;}
		}
		&.ready{ background-color:rgba(#6DFF74, 0.5); }
	}
}

.lesson_ready{ margin:0 auto 30px; font-size:20px; font-weight:bold; color:#36CF40;}
.lesson_err{font-weight:bold; color:red;}

.instructor_videos, .trainee_rehearsal{
	text-align:left;
	& .big_btn{ width:31%; }
	textarea, & .lesson_script{
		height:100px; padding:10px;
		border:1px solid #AAAAAA; 
	}
}


/* Mobile Layout: 480px and below. */
@media only screen and (max-width: 614px) {
	.instructor_videos, .trainee_rehearsal{
		width: 98%; float:none; margin:0 1%; text-align:center;
		& .big_btn{ padding:10px 15px; font-size:15px; }
		& .vid_title{ font-size:20px; margin:10px 0; background-color:none;}
		textarea, & .lesson_script{ min-width: 100%; margin:0;}
	}
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 615px) {
	.instructor_videos, .trainee_rehearsal{
		width: 48%; float:left; margin:0 5px 0 0;
		& .big_btn{ padding:5px; font-size:13px; }
		& .vid_title{ font-size:30px; margin:10px 0 20px; background-color:none;}
		textarea, & .lesson_script{ min-width: 100%; margin:10px 0 5px;}
	}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 827px) {
	.instructor_videos, .trainee_rehearsal{
		& .big_btn{ padding:10px 15px; font-size:15px; }
		& .vid_title{ margin: 20px 0;}
	}
}