// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.perfomance{
	width:630px; margin:5px; float:left;
	ziggeo{
		width: 100%;
	}
}

.prompt_model{
	width:430px; margin:5px;  float:left;
	& .lesson_prompt{
		 margin:10px 0;
	}
	& .lesson_model{
		 margin:10px 0;
	}
}

.lesson_progress_bar{
	height:80px; overflow:hidden;
	margin-bottom:10px;
	text-align:center;
	& .progress_unit{
		width: 33.33%;
		float: left; position:relative;
		text-align:center; padding-top:5px;
		& .progress_btn{
			width:30px; height:30px; margin:0 auto 5px; padding-top:2px;
			border: grey 3px solid; border-radius:50%; background:white; 
			font-size: 20px;
			&.notready{ border: red 3px solid; background: #FF7B7B; color:red;}
			&.caution1{ border: red 3px solid; background: #FF7B7B; color:red;}
			&.caution2{ border: orange 3px solid; background: #FFD78C; color:orange;}
			&.ready{ border: green 3px solid; background: #6EFF6E; color:green;}
		}
		&.ready{ background-color:rgba(#6DFF74, 0.5); height:60px; overflow:hidden;}
	}
}

.lesson_ready{ 
	margin:0 5px; float:right; width:134px; font-size:30px; font-weight:bold; color:#36CF40;
	span{position:relative; top:7px; }
}
.lesson_err{font-weight:bold; color:red;}


.body.lesson_holder{
	width:calc(100% - 110px);
	float:left;
}

.lesson_nav_holder{
	float:left; margin:5px;
	width:45px; position:relative;
	& .lesson_nav{
		font-size:45px;
		position:absolute;
		top:200px;
		&.inactive{ color:#D6D7DA; }
		&.next_topic{ color:#2AC41E; }
	}
}

// Lesson Ziggeo Interface
.showIfLessonComplete{
	text-align:center;
	& .lesson_btn{
		width:32%; float:none; display:inline-block;
		float: none; border-radius:3px;
	    &.selected{
			background-color:#4EBC52; color:#fff;
	    }
	}

}

.explanation_video, .prompt_video, .model_video, .rehearsal_video, .feedback_video{
	width:49%;
	margin:0.5%;
	float:left;
	&.hide{
		position:absolute;
		top:-1500px;
	}
	&.full{
		width:99%;
	}
	textarea, & .lesson_script{
		height:150px; padding:10px;
		min-width: 10px;
		border:1px solid #AAAAAA;
		background-color:white;
		text-align: left;
		overflow: scroll;

		&::-webkit-scrollbar {
		    -webkit-appearance: none;
		    width: 10px;
		    margin: 0;
		}
		&::-webkit-scrollbar-thumb {
		    border-radius: 0;
		    background-color: rgba(0,0,0,0.5);
		}
	}

	& .script_control{
		background-color:#eee;
		border-radius:0 0 5px 5px; padding: 0 15px;
		overflow: hidden;
		& .text{
			float: left;
			padding:8px 10px 8px 0;
		}
		input[type=range]{
			width: 100px;
		}
	}
}


.list_of_lesson_rehearsals{
	max-height:300px; overflow:scroll;
	border:1px solid #eee;	
	background-color:#eee;
	padding:10px;

	&::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 10px;
	    margin: 0;
	}
	&::-webkit-scrollbar-thumb {
	    border-radius: 0;
	    background-color: rgba(0,0,0,0.5);
	}
}

.rehearsal_thumbnail{
	width:140px;
	float:left; margin:5px;
	text-align:left; line-height:2em;
	overflow:hidden; font-size:15px;
	font-family:'gotham_book';
}
.rehearsal_btn{
	padding:0; margin:0; background-color:transparent;
	width:100%; text-align:left;
	&:hover{
		background-color:transparent;
		color:#00A6FF;
	}
}

.ziggeo_create_lesson, .js-play_ziggeo, .js-record_ziggeo, .image_holder{
	opacity:1;
	&.hide{
		position:absolute;
		top:-1500px;
		opacity:0;
	}
}


/* Mobile Layout: 480px and below. */
@media only screen and (max-width: 614px) {
	.showIfLessonComplete{
		& .lesson_btn{
			padding:10px 15px; font-size:13px;
		}
	}
	.explanation_video, .prompt_video, .model_video, .rehearsal_video, .feedback_video{
		width:98%; float:none; display:inline-block; margin:0 1%; text-align:center;
		& .vid_title{ font-size:20px; margin:10px 0; background-color:none;}
		textarea, & .lesson_script{ min-width: 100%; margin:0;}
	}
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 615px) {
	.showIfLessonComplete{
		& .lesson_btn{
			padding:5px; font-size:13px;
		}
	}
	.explanation_video, .prompt_video, .model_video, .rehearsal_video, .feedback_video{
		width: 49%; float:left; margin:0 0.5%;
		& .vid_title{ font-size:30px; margin:10px 0 20px; background-color:none;}
		textarea, & .lesson_script{ width: 100%; margin:0;}
		// &.main_recorder{
		// 	width: 70%; max-width:600px; margin:10px; float:none;
		// }
	}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 827px) {
	.showIfLessonComplete{
		& .lesson_btn{
			padding:10px 15px; font-size:15px;
		}
	}
	.explanation_video, .prompt_video, .model_video, .rehearsal_video, .feedback_video{
		& .vid_title{ margin: 20px 0;}
	}
}