// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rehearsals_title{
	font-family:'gotham_book';
	font-size:15px;
}


.rehearsal_courses{
	float: left;
	width:250px;
	min-height:300px;
	border-right:1px dotted #ccc;
	margin:0 5px 10px 0;
	padding:5px 10px;
	& .rhs_course{
		padding:10px 0 5px 0; cursor: pointer;
		border-bottom: 1px solid #ddd;
	}
	& .rhs_topics, .rhs_lessons{
		display:none;
	}
	& .rhs_topic{
		padding:5px 0 5px 5px;
		border-left:3px solid #24D4FF;
		cursor: pointer;
		margin:3px 0 3px 8px;
	}
	& .rhs_lesson{
		padding:5px 5px 5px 10px;
		margin-left:15px; border-left:3px solid #999;
		background-color:#ddd; margin-bottom:3px;
		&:hover{ background-color:#333; color:white; }
		cursor: pointer;
	}
}
.rehearsal_list{
	float: left;
	width:calc(100% - 260px);
	height:100%;
	margin:10px 5px 10px 0;
}

form.rehearsal_button{
 float:left;
}