@import 'application';

body {
  background-color: #fff;
  margin:0px auto;
  color: #333; font-size: 13px; line-height: 18px;
  // font-family: verdana, arial, helvetica, sans-serif;
  font-family: $primary_font;
}

html, body {
  margin:0px auto;
  height:100%;
  transition: 0.5s;
}
html{overflow-y:scroll;}

body,td,th {
  /* font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 12px; */
}

hr, br{
  clear: both;
}
hr{
  margin: 10px 0;
  border:0;
  border-bottom:1px solid #ddd;
}

p, ol, ul, td {
  font-family: $primary_font;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #333;

  &:visited, &:hover, &:focus {
    color: #333; text-decoration:none;
    // background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
  // transition: 0.5s;
}


#notice_wrapper{
  position: absolute; top: 0;
  width: 100%; z-index: 999;
  padding:15px; margin: 0;
  text-align: center; color: #ffffff;
  font-size: 1.25 rem; font-weight: 800;
  letter-spacing: 1px; transition: 0.5s;
  border-radius:0;
  &.notice{
    background: rgba(0, 255, 0, 0.85);
  }
  &.alert{ 
    background:rgba(red,0.85);
  }

  & .close_notice{
    float: right;
    padding:0 15px;
    transition: 0.5s;
  }
  &.remove{ 
    position:absolute; top:-50px; transition: 0.5s;
  }
}

//#notice, .notice{
//  padding:10px 20px; margin:0;
//  background-color:#00B51A; font-size:12px; color: white;
//  & .close_notice{
//    float: right;
//  }
//  &.flash-alert{ background-color:red; }
//}


span{
  &.blue{
    color:#00B1D8;
  }
  transition: 0.5s;
}


.field_with_errors {
  padding: 2px;
  background-color: $red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

input[type='file'] {
  border: 0px;
  width: 100%;
  margin: 0px;
  padding: 11px 5px;
  position: absolute;
  z-index: 2;
  opacity: 0;

  & + span {
    background: #f7f8fd;
    padding: 10px;
    display: block;
    max-width: 100%;
    border-radius: 3px;
    color: #6894bf;
    font-weight: 500;
    border: 1px solid #e1e4f5;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
}


input[type="submit"], button {
	font-size: 13px;
	font-weight: 400;
	border-radius: 5px;
	border: 0 !important;
	display: inline-block;
	padding: 6px 15px 4px 15px;
	margin: 0px 1% 0px 0;
  color: #fff;
	transition: 0.5s;
	background: $base_color;
  
  &:hover {
		background-color: #2e7bd2;
  }
  
	.btn_selected {
		background-color: #5B5B5B;
		color: #fff;
  }
  
	&.red {
    background-color: $red;
    color: #fff;
    &:hover {
      background-color: #7D0009;
    }
  }

  &.blue {
    background-color: $base_color;
    color: #fff;
    &:hover {
      background-color: #517DAC;
    }
  }

  &.green_sft {
    background-color: $green;
    color: #fff;
    &:hover {
      background-color: $green;
    }
  }

  &.creator_btn, &.admin_btn, &.coaching_btn {
    background-color: $green;
    color: #fff;
    padding: 10px 16px 8px;
    float: none;
    margin: 0;

    &:hover {
      background-color: #006A0A;
      transition: 0.2s;
    }
  }

  &.reg_btn {
    width: inherit;
    float: none;    
  }

  &.small_btn {
    font-size: 12px;
    padding: 2px 6px;
    float: none;    
  }
  
  &.tiny_btn {
    font-size: 10px;
    padding: 2px 6px;
    float: none;    
  }

  &.big_btn {
    padding: 10px 15px;
    float: none;
    font-size: 15px;
  }

  &.huge_btn {
    padding: 20px 25px;
    float: none;    
    font-size: 20px;
    font-family: 'webly_reg';
  }

  &.add_btn {
    padding: 15px 17px 13px;
    float: none;
    font-size: 30px;
    color: #fff;
    border-radius: 50% !important;
    &:hover {
      border-radius: 25%;
    }
  }

  &.add_btn.small {
    padding: 4px 6px 3px;
    font-size: 16px;
  }

  &.circle {
    border-radius: 50%;
  }
}


textarea, input, select{
  border-radius: 3px !important; 
  border: 1px solid #ddd !important;
	background-color: white;
	font-size: 13px; color: #333;
  display: inline-block;
  padding: 5px 8px;
  
	&.half {
		margin: 5px 1%;
		width: 48%;
	}
	&.full {
		margin: 5px 1%;
		width: 98%;
		float: none;
	}
}

textarea, input{
	padding: 5px 8px; margin: 5px 5px 5px 0;
}

textarea {
  min-height: 100px;
  resize: none;
}

input {
	&.login {
		border-radius: 0px; border: 0;
		border-bottom: 1px solid #999;
		background-color: transparent;
		float: none;
		width: 250px;
		&:focus {
			border-bottom: 1px solid #437cbf;
			transition: 0.5s;
		}
	}
	&.login_submit {
		float: none;
		width: 250px;
		padding: 10px 0;
		background-color: #437cbf;
		border: 0px;
		font-family: 'gotham_light';
		color: #fff;
		font-weight: bold;
		font-size: 15px;
		&:hover {
			background-color: #52A4FF;
		}
	}
	&.space-5 {
		letter-spacing: 0.5em;
	}
	&.space-1 {
		letter-spacing: 0.1em;
	}


	&::-webkit-input-placeholder {
		color: #999;
		letter-spacing: 0em;
	}

	&[type='color'] {
    width: 30px;
    height: 30px;
    padding: 3px !important;
	}

	&[type='checkbox'] {
		border: 0px;
		background-color: #DDDDDD;
	}

	&[type='file'] {
		font-size: 12px;
		padding: 5px;
		margin-top: 10px;
	}

	&[type='range'] {
		-webkit-appearance: none;
		margin: 0 5px;
		padding: 8px 0;
		background: transparent;
		border: 0;
		&::-webkit-slider-runnable-track {
			margin: 6px 5px;
			height: 5px;
			background: #5AB6FF;
			border: none;
			border-radius: 3px;
		}
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			border: none;
			height: 16px;
			width: 16px;
			border: 1px #5AB6FF solid;
			border-radius: 50%;
			background: white;
			margin-top: -5px;
		}
		&:focus {
			outline: none;
			&::-webkit-slider-runnable-track {
				background: #5AB6FF;
			}
		}
	}
}

select {
	-webkit-appearance: none;
	padding: 5px 25px 5px 8px;
	margin: 5px 1% 5px 0;
	background-image: url("/assets/select-bottom.png;");
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: right 50%;
}
input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
	outline: none;
	text-decoration: none;
}


.switch{
  background-color:#5AB6FF;
  height: 15px; width: 30px; float: left;
  position:relative;
  margin: 10px 5px;
  border-radius:5px;
  transition: 0.5s;
  & .knob{
    border-radius:3px;
    height: 11px; width: 40%;
    position:absolute;
    margin: 2px;
    background-color:white;
    transition: 0.5s;
    &.active{
      right: 0;
      background-color:white;
      transition: 0.5s;
    }
  }
  &.active{
    background-color:red;
    transition: 0.5s;
  }
}

.blankdot{ width:8px; height:8px; display:none; }
.reddot, .greendot, .orangedot{
  width:8px; height:8px; display:inline-block;
  border-radius:50%; margin-bottom:0.5px;
}
.orangedot{
  background-color:#FFA800;
}
.reddot{
  background-color:red;
}
.greendot{
  background-color:#0FDF0F;
}





.contact-container{
  width: 550px;
  margin: 30px auto;
  max-width: 95%;

  & textarea{ resize: none; }
}  





@function extrude($color, $size) {
  $t: ();
  @for $i from 0 through $size*10{
    $t: $t, $i*0.1px $i*0.1px $color ;
  }
  @return $t;
}

@mixin box_extrude($color, $size){
  box-shadow: extrude($color, $size) ;
}

@mixin text_extrude($color, $size){
  text-shadow: extrude($color, $size) ;
}



@media only screen and (max-width: 480px) {
  textarea, input, select{
    
    &.half {
      margin: 5px 1%;
      width: 98%;
      float: none;
    }
  }
}