body {
  background-color: #fff;
  margin:0px auto;
  color: #333; font-size: 13px; line-height: 18px;
  // font-family: verdana, arial, helvetica, sans-serif;
  font-family: 'gotham_light';
}

html, body {
  margin:0px auto;
  height:100%;
  transition: 0.5s;
}
html{overflow-y:scroll;}

body,td,th {
  /* font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 12px; */
}

hr, br{
  clear: both;
}
hr{
  margin: 10px 0;
  border-bottom:1px solid #ddd;
}

p, ol, ul, td {
  font-family: 'gotham_light';
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #fff;

  &:visited, &:hover, &:focus {
    color: #fff; text-decoration:none;
    // background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
  // transition: 0.5s;
}

#notice, .notice{
  padding:10px 20px; margin:0;
  background-color:#00B51A; font-size:12px; color: white;
  & .close_notice{
    float: right;
  }
  &.flash-alert{ background-color:red; }
}


span{
  &.blue{
    color:#00B1D8;
  }
  transition: 0.5s;
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}



input[type="submit"], button{
  font-size:11px; font-weight: bold;
  border-radius:3px;
  // border:1px solid #ccc;
  border:0;
  display:inline-block;
  padding:6px 15px 4px 15px; margin:5px 1% 5px 0;
  color:#666;
  transition: 0.5s;
  &:hover{
    background-color:#ccc;
  }

  &.red{
    // border:1px solid #7D0009;
    background-color:#FF0000; color:#fff;
    &:hover{
      background-color:#7D0009;
    }
  }

  &.blue{
    // border:1px solid #517DAC;
    background-color:#437cbf; color:#fff;
    &:hover{
      background-color:#517DAC;
    }
  }

  &.green_sft{
    // border:1px solid #00A30F;
    background-color:#4EBC52; color:#fff;
    &:hover{
      background-color:#006A0A;
    }
  }

  &.reg_btn{
    width:inherit; float: none;
    border-radius:3px;
  }
  &.small_btn{
    padding:2px 6px; float: none;
    border-radius:3px;
  }
  &.big_btn{
    padding:10px 15px; float: none;
    border-radius:3px; font-size:15px;
  }
  &.huge_btn{
    padding:20px 25px; float: none;
    border-radius:3px; font-size:20px;
    font-family: 'webly_reg';
  }
  &.add_btn{
    padding:15px 14px 13px; float: none; 
    font-size:30px; color:#fff;
    border-radius:50%; 
    &:hover{
      border-radius:25%;
    }
  }
  .btn_selected{
    background-color:#5B5B5B; color:#fff;
  }
  &.circle{
    border-radius:50%;
  }
}


textarea, input, select{
  border-radius:1.5px; border:0;
  border-bottom:2px solid #ccc;
  background-color: white;
  font-size:13px; color:#333;
  transition: 0.5s;
  &.half{
    padding:5px 8px; margin:5px 0.5%; width:49%;
    display:inline-block; float:left;
  }
  &.full{
    padding:5px 8px; margin:5px 0.5%; width:99%;
    display:inline-block; float:none;
  }
  &.course_create{
    padding:5px 8px; width:50%; max-width:300px;
    display:inline-block; float:left;
  }
  &:focus{
    border-bottom:2px solid #437cbf;
    transition: 0.5s;
  }
}

textarea{
  min-height: 100px;
  min-width: 400px;
  padding:5px 8px; margin:5px 5px 5px 0;
}

input{
  padding:8px 15px; margin:5px 5px 5px 0; color:#333;
  transition: 0.5s;
  &.login{
    border-radius:0px; border:0;
    border-bottom:1px solid #999;
    background-color: transparent;
    float: none; width: 250px;
    &:focus{
      border-bottom:1px solid #437cbf;
      transition: 0.5s;
    }
  }
  &.login_submit{
    float: none; width: 250px; padding:10px 0;
    background-color:#437cbf; border:0px;
    font-family:'gotham_light'; color:#fff; font-weight:bold; font-size:15px;
    &:hover{
      background-color:#52A4FF;
    }
  }

  &.space-5{letter-spacing:0.5em;}
  &.space-1{letter-spacing:0.1em;}
  ::-webkit-input-placeholder {
     color:#999;
     letter-spacing:0em;
  }
  &[type='color']{
    height:40px;
  }
  &[type='checkbox']{
    border:0px; background-color:#DDDDDD;
  }
  &[type='file']{
    font-size:12px;
    padding:5px; margin-top:10px;
  }
  &[type='range']{
    -webkit-appearance: none;
    margin: 0 5px;
    padding:8px 0;
    background: transparent;
    border:0;

    &::-webkit-slider-runnable-track{
        margin:6px 5px;
        height: 5px;
        background: #5AB6FF;
        border: none;
        border-radius: 3px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px; width: 16px;
        border:1px #5AB6FF solid;
        border-radius: 50%;
        background: white;
        margin-top: -5px;
    }

    &:focus {
        outline: none;
    }

    &:focus::-webkit-slider-runnable-track {
        background: #5AB6FF;
    }
  }
}

select{
  -webkit-appearance:none;
  padding:5px 25px 5px 8px; margin:5px 1% 5px 0;
  background-image:url('/assets/select-bottom.png;');
  background-repeat: no-repeat;
  background-size:20px; background-position:right 50%;

}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
    outline: none;
    text-decoration:none;
}


.switch{
  background-color:#5AB6FF;
  height: 15px; width: 30px; float: left;
  position:relative;
  margin: 10px 5px;
  border-radius:5px;
  & .knob{
    border-radius:3px;
    height: 11px; width: 40%;
    position:absolute;
    margin: 2.4px;
    background-color:white;
    &.active{
      right: 0;
      background-color:white;
    }
  }
  &.active{
    background-color:red;
  }
}


.reddot, .greendot{
  width:8px; height:8px; display:inline-block;
  border-radius:50%; margin-bottom:0.5px;
}
.reddot{
  background-color:red;
}
.greendot{
  background-color:#0FDF0F;
}

@function extrude($color, $size) {
  $t: ();
  @for $i from 0 through $size*10{
    $t: $t, $i*0.1px $i*0.1px $color ;
  }
  @return $t;
}

@mixin box_extrude($color, $size){
  box-shadow: extrude($color, $size) ;
}

@mixin text_extrude($color, $size){
  text-shadow: extrude($color, $size) ;
}