body {
  background-color: #fff;
  margin:0px auto;
  color: #333; font-size: 13px; line-height: 18px;
  // font-family: verdana, arial, helvetica, sans-serif;
  font-family: 'webly_reg';
}

html, body {
  margin:0px auto;
  height:100%;
}
html{overflow-y:scroll;}

body,td,th {
  /* font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 12px; */
}

hr, br{
  clear: both;
}
hr{
  margin: 10px 0;
  border-bottom:1px solid #ddd;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #fff;

  &:visited, &:hover, &:focus {
    color: #fff; text-decoration:none;
    // background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  padding:0 5px; border-radius:3px; margin:5px;
  background-color:#00B51A; overflow:hidden; display:inline-block;
  text-align:center; font-weight:bold; color: white;
}
.flash_message{
  position: absolute; top:50px; left:200px; padding:10px; border-radius:3px; margin:5px;
  background-color:#00B51A; overflow:hidden; display:inline-block;
  text-align:center; font-size:15px; z-index:10; font-weight:bold; color: white;
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}





input[type="submit"], button{
  font-size:11px; font-weight: bold;
  border-radius:3px;
  // border:1px solid #ccc;
  border:0;
  display:inline-block;
  padding:6px 15px 4px 15px; margin:5px 1% 5px 0;
  color:#666;
  &:hover{
    background-color:#ccc;
  }

  &.red{
    // border:1px solid #7D0009;
    background-color:#FF0000; color:#fff;
    &:hover{
      background-color:#7D0009;
    }
  }

  &.blue{
    // border:1px solid #517DAC;
    background-color:#419EFE; color:#fff;
    &:hover{
      background-color:#517DAC;
    }
  }

  &.green_sft{
    // border:1px solid #00A30F;
    background-color:#4EBC52; color:#fff;
    &:hover{
      background-color:#006A0A;
    }
  }

  &.reg_btn{
    width:inherit; float: none;
    border-radius:3px;
  }
  &.small_btn{
    padding:2px 5px; float: none;
    border-radius:3px;
  }
  &.big_btn{
    padding:10px 15px; float: none;
    border-radius:3px; font-size:15px;
  }
  .btn_selected{
    background-color:#5B5B5B; color:#fff;
  }
  &.circle{
    border-radius:50%;
  }
}


textarea, input, select{
  border-radius:2px;
  border:1px solid #999;
  // border:0;
  background-color: white;
  font-size:13px; color:#333;
  &.half{
    padding:5px 8px; margin:5px 0.5%; width:49%;
    display:inline-block; float:left;
  }
  &.full{
    padding:5px 8px; margin:5px 0.5%; width:99%;
    display:inline-block; float:none;
  }
}

textarea{
  min-height: 100px;
  min-width: 400px;
  padding:5px 8px;
}

input{
  padding:5px 8px; margin:5px 5px 5px 0; color:#333;
  &.login{
    border-radius:0px; border:0;
    border-bottom:1px solid #999;
    background-color: transparent;
    float: none; width: 250px;
  }
  &.login_submit{
    float: none; width: 250px; padding-top:12px;
    background-color:#4482c3; border:0px;
    font-family:'altera'; color:#fff; font-weight:bold; font-size:15px;
    &:hover{
      background-color:#4F94FF;
    }
  }

  &.space-5{letter-spacing:0.5em;}
  &.space-1{letter-spacing:0.1em;}
  ::-webkit-input-placeholder {
     color:#999;
     letter-spacing:0em;
  }
  &[type='color']{
    height:40px;
  }
  &[type='checkbox']{
    border:0px; background-color:#DDDDDD;
  }
  &[type='file']{
    font-size:12px;
    padding:5px; margin-top:10px;
  }
}

select{padding:5px 8px; margin:5px 1% 5px 0;}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
    outline: none;
    text-decoration:none;
}


.reddot, .greendot{
  width:8px; height:8px; display:inline-block;
  border-radius:50%; margin-bottom:0.5px;
}
.reddot{
  background-color:red;
}
.greendot{
  background-color:#0FDF0F;
}