// // Place all the styles related to the users controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//

.banner{
	height:150px; width:calc(100% - 50px); float:left;
	background-color:#C9C9C9; background-size:cover; background-position:center;
	overflow:visible; padding-left:10px;
	&.max{
		width:calc(100% - 100px);
	}
	& .profile_pic{
		position: relative; bottom:-90px; z-index: 5; width:100px;
		img{
			width:100%;
		}
	}
}


.course_user_list{
	margin:5px 5px 5px 0; display:inline-block;
	color:white; font-family:'webly_reg'; font-size:14px; font-weight:bold;
	background-color:#A4A4A4; overflow:hidden;
	& .title{ padding: 5px 10px; float:left;}
	& .course_status{
		padding: 5px 10px;text-align:center; float:right;
		color:white; font-family:'webly_bld'; font-size:14px; font-weight:bold;
		&.new{
			background-color:#FF6161; 
		}
		&.current{
			background-color:#00A6D9; 
		}
		&.completed{
			background-color:#00B41B; 
		}
	}
}

.white_card{ 
	padding:5px 10px; background-color:rgba(white, 0.6); 
	display:inline-block; margin:5px 5px 5px 0; border-radius:5px;
}