// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'scaffold';

.site_wrapper{
	max-width:1100px; min-height:calc(100% - 245px); margin:0 auto; overflow:hidden; padding:5px 10px;
}

.wrapper{
	max-width:1100px; min-height:50%;
	margin:0 auto; overflow:hidden; padding:5px 10px;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 	background: url('/assets/better_you.jpg') no-repeat;
  	background-size: cover;
  	transition: 1s opacity;
}

header.header{
	padding:0; position: relative; z-index:5; text-align:center;
	background-color:rgba(255,255,255,0.8); overflow:hidden;
	transition: 0.5s;

	& .menu{
		overflow:visible; max-width:1100px; margin:0 auto; padding:0 10px; z-index: 3;
		position:relative;
		&.app{ 
			width:100%; max-width:100%;
			& .user_info{
				float:left; padding:5px 10px 0 0;
				font-size:10px; line-height:1.3em;
				& .user_info_text{
					float:right; color:white;
					text-align: right; padding:7px 10px 0 0;
				}
				& .profile_pic{
					float:right; width:30px; padding:5px 0;
					img{
						width:100%;
					}
				}
				.drop_menu{
					float:right; color:white; padding:13px 20px 10px 35px;
					font-size: 15px; cursor:pointer;
				}
			}
			& .user_dropdown{
				width:200px; padding:0; min-height: 190px;
				background-color:rgba(0,0,0,0.7);
				transition: 0.1s; opacity:0;
				position:absolute; top:-200px; right:0;
				&.drop{position:absolute; top:48px; opacity:1; transition: 0.1s;}
				& .drop_down_item{
					padding:10px; margin:0;
					background-color:rgba(0,0,0,0.3);
					width:100%; border-radius:0;
					color: white;
					&:hover{
						background-color:white;
						color: black;
					}
				}
			}
		}
	}

	& .logo{
		float:left; width:auto; padding-top:15px;
		font-size: 20px; color:white; font-family:'gotham_thin';
		letter-spacing:0.05em;
		img{ width:40px; position:relative; bottom:2px;}
	}
	& .logo_white{ font-family:'gotham'; font-size:15px; color:white; }
	& .logo_blue{ font-family:'gotham'; font-size:15px; color:#52A4FF; }
	& .menu_list{
		float:right; overflow:hidden;
		& .menu_item{
			display:inline-block; float:none; padding:15px 20px; margin:0 10px;
			font-family:'gotham_book'; font-size:13px; letter-spacing:0.05em; color:#437cbf; transition:0.5s;
			&:hover{ transition:0.5s; }
		}
		& .register_item{
		  background-color:#437cbf; border-radius:3px; color:white; font-weight:bold; padding:5px 9px;
		  transition: 0.5s;
		  &:hover{ background-color:#52A4FF; transition:0.5s;}
		}
	}
	a{
		color:#4482c3; font-weight:bold;
	}



	&.home{ 
		background-color:rgba(#0B62B4,0.5); 
		// position:fixed; width:100%;
		a{ color:white; }
		& .menu_list{
		  & .register_item{
		    background-color:transparent; border:white solid 1px; border-radius:3px; color:white;
		    &:hover{ background-color:rgba(255,255,255,0.5);}
		  }
		}
	}


	&.app{
		position:relative; z-index: 3; height:48px;
		background-color:rgba(0,0,0,0.8); overflow:visible;
		a{ color:white; }
		& .logo{
			img{ width:40px; position:relative; bottom:-5px; left:10px;}
		}
		& .menu_list{
		  & .menu_item{
		    background-color:transparent; color:white;
		    padding:15px 20px;
		    &:hover{ background-color:white; color:black;}
		  }
		}
	}
}


.loading_app{
	height:100%; width:100%;
	padding:25% 0; text-align:center;
	position:fixed; z-index:100;
	background-color:white;

	.loading_wrapper{
		width: 100%;
		position:absolute; bottom:50%;
		& .load_text{
			color:#0883C3; font-size:20px; font-family:'gotham_book';
			margin: 5px auto;
		}
		& .loading_prog{
			margin-top: 10px;
		}

		progress{
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;

	    width: 90%; max-width: 210px;
	    height:2px;

	    /* Firefox */
	    border: none;
	    background: #ddd;
	    border-radius: 2px;
	  }
	  progress::-webkit-progress-bar {
	    background: #ddd;
	    border-radius: 2px;
	  }

	  progress::-webkit-progress-value {
	    background-color: #0883C3;
	    border-radius: 2px;
	  }

	  progress::-moz-progress-bar {
	    background-color: #0883C3;
	    border-radius: 2px;
	  }
	}
}


.terms_not_aggreed{
	min-height:100%; width:100%;
	padding:0px 10px;
	position:fixed; z-index:100;
	top:0; bottom:0; right:0; left:0;
	background-color:white;
	overflow:scroll;
}


.home_top_wrapper{
	background-repeat:no-repeat; background-attachment:fixed;
	height:calc(90% - 100px); max-height:900px; overflow:hidden;
	transition:1s; position:relative;
}

$edge_pos: 12% ;
$center_pos: 45% ;

.home_top{
	height:100%; text-align:center; overflow:hidden;
	background-color:rgba(#0B62B4, 0.5);
	transition:1s; position:relative;

	// & .home_top_text{
	// 	position:absolute;
	// 	top: 40%;
	// 	width: 100%;
	// 	transition: 1s;
	// 	& .home_info_1, & .home_info_2, & .home_info_3{ 
	// 		color:#eee;
	// 		@include text_extrude(black, 1);
	// 	}
	// 	&.demo_open{
	// 		top: 20%;
	// 		transition: 1s;
	// 	}
	// }
}

.form_err{
	color:red; margin:5px auto; border-radius:3px; border:1px solid red;
	padding:0 5px; background-color:rgba(red, 0.1); display:none;
	text-align:center;
}

.get_started{
	margin:50px auto 100px; padding:20px 25px;
}





.search_section{
	text-align:center;
	width:100%; 
	position:absolute; bottom:0;
	.search_popup{
		background-color:#fff; color:#333;
		padding:4px 10px; font-weight:bold;
		width:auto; display:inline-block;
		border-radius:5px 5px 0 0;
		position:relative; bottom:0px;
		transition: 0.5s;
		
		&:hover{ bottom:-5px; transition: 0.3s; }

		&.fade{
			position:relative; bottom:66px;
			opacity:0.5; background-color:black; color:white;
			transition: 0.5s;
			&:hover{ opacity:0.5; transition: 0.5s; }
		}
	}
	.search_box{
		background-color:rgba(black, 0.5);
		padding:0;
		width:100%; overflow:hidden;
		text-align:left;
		position:absolute; bottom:-80px;
		transition: 0.5s;
		input.search_course_term{
			width:calc(100% - (80.35px + 65px)); border:0; border-radius:0;
			margin:0 -4px 0 0; padding:15px 15px;
			background-color:transparent; position:relative; top:-1px;
			font-size:30px;	color:white;
			font-family:'gotham';		
			
			::-webkit-input-placeholder {
			    color:#fff;
			    letter-spacing:0em;
			}
		}
		select{
			-webkit-appearance:none; padding:10px 15px;  margin:0px;
			width:auto; border-radius:0; height:66px; border:0;
			position:absolute; background-color:transparent; color:white;
		}
		button.search_course_btn{
			padding:24px 17px 24px; font-size:15px; margin:0px;
			position:absolute; right:0; border-radius:0; background-color:transparent;
			&:hover{
				background-color:#00A6FF;
			}
		}
		&.popup{
			position:absolute; bottom:-1px;
			transition: 0.5s;
		}
	}
}
.search_results_home{
	padding:0px; background-color:#f8f8f8; border-radius:0 0 5px 5px;
	position:absolute; top:-40px; z-index:0;
	transition: 0.5s; text-align:center;
	&.show{
		padding:10px; position:relative; top:0px;
		transition: 0.5s; margin:0 auto 20px;
	}
}




.home_submenu{
	min-height:70px;  width:100%; background-color:white;
	position:relative;  z-index:3;  overflow:hidden;
	text-align: center;
	& .submenu_item{
		color:#999;
		cursor:pointer;
		position:relative;
		height: 70px; width: 16%; display:inline-block; margin:0 0.5%;
		float: none;
		padding:25px 0;
		&:hover{
			background-color:#eee;
		}
		.text{
			font-family:'gotham_book';
			font-size: 13px;
		}
	}
}



.home_top_info{
	display:block; 
	height:calc(100% - 200px);
	// height:700px;
	margin:0; display:none;
	background-size:cover;
	background-position:center center;
	& .info_left, & .info_right{
		width:100%; height:100%;
		padding:0 50px;
		position:relative;
		& .content{
			position:absolute;
			top:40%; width:50%;
			& .title{
				font-family: 'gotham';
				font-size:30px; margin-bottom:10px;
				line-height: 0.8em;
			}
			& .body{
				font-size:16px;
			}
		}
	}
	& .info_left{
		background: linear-gradient(120deg, white 40%, transparent 100%);
		text-align:left;
	}
	& .info_right{
		background: linear-gradient(-70deg, white 40%, transparent 100%);
		text-align: right;
		& .content{
			right:30px;
		}
	}
	&.overview{ height:auto; text-align: center; display:block; overflow:hidden;}
}


.home_course{
	float:left; width:32%;
	margin:0 0.7%;
	background-position:center;
	background-size:cover;
	border-radius:5px;
	transition:0.5s; overflow:hidden;
	cursor: pointer;
	& .content{
		position:relative;
		width:100%; padding-top:70%;
		top:0; bottom:0;
		background-color:rgba(black, 0.7);
		transition:0.5s;
		&:hover{
			background-color:rgba(#4B92C3, 0.7);
			transition:0.5s;
		}
		& .title{
			position:absolute;
			color:white;
			width: 100%;
			font-family:'gotham_thin'; text-align:center;
			font-size: 20px;
		}
	}
	&.small{
		width:32.3%;
		margin:0 0.5% 1%;
		& .content{ padding-top:35%; }
		& .title{ top: 50%; }
	}
}





.theproduct{
	padding:120px 0; margin:0 auto; text-align:center;
	overflow:hidden;
	background-position:0 -20%; background-size:100%;
	background-repeat:no-repeat; background-attachment:fixed;
}



.faq_title{
	font-family:'gotham';
	margin-bottom:10px;
	font-size:18px;
}
.faq_content{
	font-family:'gotham_book';
	margin-bottom:30px;
}


.press_bg{
	height:400px;
	background-position:center center;
	background-size:cover;
	& .press_packet{
		position:relative;
		height:100%; padding-left:10%;
		button.press_packet_btn{
			position:absolute;
			top:45%; background-color:transparent;
			border:2px white solid; color:white;
			padding:15px 20px; font-size:15px;
			font-family:'gotham';
			&:hover{ background-color:white; color:#999; }
		}
	}
}


.newsletter{
	font-size:13px; font-weight: thin; letter-spacing:0.05em; margin-bottom:8px;
}






.modal-body{
	height:470px; overflow:scroll;
}







.teammember{
	max-width:170px; width:25%; min-width:140px; text-align:center;
	font-size:12px; font-family:'webly_reg';
	display: inline-block; margin:20px 1%;
	img{
		width: 100%; border-radius:5%;
	}
	& .name{
		font-family:'webly_bld'; font-size:17px; margin:3px auto 5px; color: black;
	}
    & .team-role{
      color: black;
    }
}

.home_sec{ 
	font-size:23px; font-family:'webly_reg'; color:#858585;
	line-height:1em;
	margin:50px auto; text-align:center; 
	img{ width:50%; max-width:80px; margin-bottom:20px; }
}
.video_info_title{ font-size:25px; font-weight:bold; font-family:'webly_reg'; margin:100px 10px 5px; text-align:right;}
.video_info_desc{ max-width:300px; float:right; margin-right:10px; line-height: 1.5em; font-size:15px; font-family:'webly_reg'; text-align:right;}
.regis_title{ font-size:40px; color:white; font-weight:bold; font-family:'webly_reg'; }


.user_box{ height:150px; background-color:transparent; border:1px solid #C4C1C1; border-bottom:0; }


.info_box{
	&.thrd{ width:30%;  margin:1.5% 1.5% 10%;}
	display: inline-block;
	img{ max-width:150px; min-width:50%; margin-bottom:20px;}
	& .title{
		padding: 10px; text-align:center;
		color:#5D5D5D; font-size:20px; font-family:'gotham_bld';
	}
	& .desc{
		line-height: 1.5em;
		font-size: 14px;
	}
}



.top_img, .full_top_img{
	background-position:center 20%; background-size:cover;
	background-repeat:no-repeat; background-attachment:fixed;
	width:100%;
}
.top_img{
	height:350px;
}
.full_top_img{
	background-position:center;
	height:85%;
}




// DEVICES
.devices{
	background-position:center; background-size:cover;
	background-repeat:no-repeat; background-attachment:fixed;
	margin:0px;
	& .halfsec{
		width:100%;
		position:relative;
		img.camera{
			position:absolute;
		}
		img.computers{
			position:absolute;
		}
		& .devicetext{
			position:absolute;
			color:black; font-family: "webly_reg";
			line-height: 1.5em;
			& .from_anywhere{
				font-family:'gotham_bld';
			}
		}
	}
}





// VERSIONS
.version_box{
	max-width:800px;
	margin:10px auto;
	& .title_sec{
		overflow: hidden;
		background-color: white;
		padding:5px 10px;
		& .title{
			float: left;
		}
		& .date{
			float: right;
		}
	}
	& .content{
		background-color:#eee;
		padding:10px 10px;
	}
}



.newUsers{
	background-color:red;
	position:relative; right:-6px; top:-2px;
	float:right; padding: 0 5px;
}
.search_result{
	a{ color:white; }
	& .searchResultItem{
		padding:5px 10px; float:none; display:inline-block;
		background-color:#FF7C86; margin:3px;
	}
}



.overview_header, .register_header{
	background-color:rgba(#0B62B4, 0.5);
	min-height:calc(100% - 48px); color:white;
	& .content{
		max-width:1100px;
		margin:0 auto;
		padding:20px 10px; 
		position:relative;
	}
}
.overview_menu{
	float:left;
	width:150px;
	padding-top:60px;
	button.tab{
		width: 100%; border:0;
		border-radius:0;
		text-align: left;
		padding:5px 10px;
		background-color:#efefef;
		&:hover, &.selected{
			background-color: white;
		}
	}
}
.overview_content{
	float:left;
	width:calc(100% - 180px);
	margin-left:30px;
	& .all_content{
		display:none;
		&.js-main_content{ display:block;}
	}
}



// REGISTER FORM

.register{
	padding:5px 30px 20px; width:400px;
	background: white;
	position:absolute; top:50px; right:0;
	color:#666;
	border-top:5px solid #999;

	a{ color:#1AA8FF; }

	form{
		color:#333; font-size:12px;
	}

	form input, form select{
	  width:100%; margin:5px auto; float:none; display:inline-block;
	  &.name{
	  	width:49.4%; margin-bottom:25px;
	  }
	}
	form input.button{
	  width:inherit;
	}

	form .register_label{
	 	text-align:left;  color:#333; font-size:12px; margin:0 0 5px;
	}
}


/* Mobile Layout: 480px and below. */
@media only screen and (max-width: 400px) {
	.home_top_wrapper{
		height:100%; max-height:calc(100% - 0px);
	}
	.home_top{
		& .home_top_text{
			top: 5px;
			&.demo_open{
				top: 5px;
			}
		}
	}
}
@media only screen and (max-width: 480px) {
	header.header{
		padding:0 10px 10px;
		text-align: center;
		
	    & .logo{
	      float:none; padding:10px 0; width:100%; position:relative;
	    }
	    & .menu_list{
	      float:none; width:100%; text-align:center;
	      margin-top: 30px;
	      & .menu_item{
	        padding:5px 7px; margin:5px 3px 0;
	        float: none; display: inline-block;
	      }
	    }

	    &.home{ position:relative; }
		&.app{ 
			height:98px;
			padding:0 10px;
			& .menu_list{
		    	float:none; 
		    	margin:30px auto 0;
		    	overflow: visible;
				& .user_info{
					float: left;
					position:relative; bottom:5px;
					left:25%;
					.drop_menu{
						padding:6px 0 10px 30px;
						font-size: 25px;
					}
				}
				& .user_dropdown{
					top:-200px; right:-10px; width:calc(100% - 30px);
					&.drop{top:98px;}
				}
		  	}
		}
		& .logo_white{ font-family:'gotham'; font-size:15px; color:white; position:absolute; left:30%; margin-top:10px; }
	}

	.home_top_wrapper{
		background-size:cover; background-position:40% 20%;
		background-attachment: scroll;
		height:calc(100% - 120px); max-height:700px;
	}
	.home_top{
		& #home_top_text{
			position:relative; color:white; font-weight:bold;
			transition: 1s;
			&.top_right, &.center_right, &.bottom_right, &.top_center, 
			&.center_center, &.bottom_center, &.top_left, &.center_left, 
			&.bottom_left{ 
				top: 35%; text-align:center;
			}

			& .ht1{ font-weight:bold; font-family:'gotham'; font-size:40px; line-height:1em; }
			& .ht2{ font-weight:bold; font-family:'gotham_thin'; font-size:20px; line-height:1em; }
			& .ht3{ font-weight:bold; font-family:'gotham_light'; font-size:15px; line-height:1em; }
			
			&.demo_open{
				top: 7%;
				transition: 1s;
			}
		}
	}
	
	.home_submenu{
		height: 120px;
		& .submenu_item{
			height: 60px; width: 30%; margin:0;
			float: none; display:inline-block;
			padding:20px 0;
			.text{
				font-family:'gotham_book';
				font-size: 13px;
			}
		}
	}
	.home_top_info{
		& .info_left, & .info_right{
			& .content{
				position:absolute;
				top:15%; width:60%;
			}
		}
	}
	.search_section{
		.search_box{
			position:absolute; bottom:-80px;
			input.search_course_term{
				max-width:260px; width:70%;
			}
		}
	}
	.home_info_1{ font-size:30px; font-family:'gotham_book'; margin:5px auto; line-height:50px;}
	.home_info_2{ font-size:20px; font-family:'webly_reg'; }
	.home_info_3{ font-size:14px; font-family:'webly_reg'; margin:0 auto; }

	.video_info_title{ width:100%; float:none; text-align:center;  margin:5px auto 30px;}
	.video_info_desc{  width:100%; float:none; text-align:center; margin:5px auto;}

	.home_course{
		width: 48%;
		& .content{
			padding-top:98%; 
			& .title{
				font-family:'gotham';
				top:50%;
				font-size: 12px;
			}
		}
		&.small{
			width: 48%;
			& .title{ top:40%; }
		}
	}

	.devices{
		padding-top:10px;
		height: 70%;
		margin: 50px 0 100px;
		& .halfsec{
			height: 100%;
			width:100%;
			position:relative;
			img.camera{
				position:absolute;
				left: 4%; bottom:0px;
				width:92%;
			}
			img.computers{
				position:absolute;
				left:1%; top:0;
				width:98%;
			}
			& .devicetext{
				left: 10%; top:60%;
				width:90%;
				font-size:20px;
				& .from_anywhere{
					font-size:30px;
				}
			}
		}
	}
	.top_img{
		background-position:60% 20%;
	}

}



.white_transp{ background-color:rgba(white,0.7); color:black; }
.black_transp{ background-color:rgba(black,0.7); color:white; }
.blue_transp{ background-color:rgba(#0099FF,0.85); color:white; }


.left{ float:left; }
.left_text{ text-align:left; }
.right{ float:right; }
.right_text{ text-align:right; }
.center{ margin-left:auto !important; margin-right:auto !important; }
.center_text{ text-align:center; }
.full_center{ display: table; text-align:center; }
.hcenter{ display:table-cell; vertical-align: middle; }




/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
	.home_info_1{ font-size:40px; font-family:'gotham_light'; margin:10px auto 15px;}
	.home_info_2{ font-size:20px; font-family:'webly_reg'; }
	.home_info_3{ font-size:18px; font-family:'webly_reg'; margin:10px auto;}
	
	.home_top_wrapper{
		background-size:cover; background-position:20% 80%;
		& #home_top_text{
			position:absolute; color:white; font-weight:bold;
			&.top_right{ top:$edge_pos; right:$edge_pos; text-align:right;}
			&.center_right{top:$center_pos; right:$edge_pos; text-align:right;}
			&.bottom_right{ bottom:$edge_pos; right:$edge_pos; text-align:right;}
			&.top_center{ margin:30px auto; text-align:center;}	
			&.center_center{ top:$center_pos; left:$center_pos; text-align:center;}	
			&.bottom_center{ bottom:$edge_pos; left:$center_pos; text-align:center;}
			&.top_left{ top:$edge_pos; left:$edge_pos; text-align:left;}
			&.center_left{ top:$center_pos; left:$edge_pos; text-align:left;}
			&.bottom_left{ bottom:$edge_pos; left:$edge_pos; text-align:left;}

			& .ht1{ font-weight:bold; font-family:'gotham'; font-size:50px; line-height:1em; @include text_extrude(black, 0);}
			& .ht2{ font-weight:bold; font-family:'gotham_thin'; font-size:30px; line-height:1em; @include text_extrude(black, 1);}
			& .ht3{ font-weight:bold; font-family:'gotham_light'; font-size:20px; line-height:1em; @include text_extrude(black, 1);}
		}
	}

	.devices{
		padding:70px 10px 0;
		height: 30%;
		& .halfsec{
			height:100%;
			img.camera{
				left: 7%; bottom:0px;
				width:35%;
			}
			img.computers{
				right: 0px; bottom:-20%;
				width:55%;
			}
			& .devicetext{
				left: 6%; top:0px;
				width:85%;
				font-size:15px;
				& .from_anywhere{
					font-size:25px;
				}
			}
		}
	}

	.home_course{
		& .content{
			& .title{
				top:40%;
				font-size: 13px;
			}
		}
	}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 768px) {
	.home_info_1{ font-size:60px; font-family:'gotham_light'; margin:0 auto 35px;}
	.home_info_2{ font-size:20px; font-family:'webly_reg'; line-height:1.5em;}
	.home_info_3{ font-size:18px; font-family:'webly_reg'; margin:10px auto; }
	.info_box{
		&.hlf{ width:48%; min-width:200px;  margin:0.25%; 
			& .image{ height:250px; }
		}
		&.thrd{ width:32%; min-width:200px; margin:0.15%;}
		&.qtr{ width:24%; min-width:200px; margin:0.25%; }
	}

	.modal-dialog{
		width:60%; min-width:250px;
	}

	.home_top_wrapper{
		background-size:cover; background-position:50% 100%;
	}

	.devices{
		padding-top:50px;
		height: 50%;
		& .halfsec{
			img.camera{
				left: 15%;
				width:32%;
			}
			img.computers{
				width:45%;
			}
			& .devicetext{
				left: 15%; top:25%;
				font-size:25px;
				& .from_anywhere{
					font-size:40px;
				}
			}
		}
	}
	.home_course{
		& .content{
			& .title{
				top: 50%; 
				font-size: 20px;
			}
		}
	}
}