// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'scaffold';

.site_wrapper{
	max-width:1100px; min-height:calc(100% - 245px); margin:0 auto; overflow:hidden; padding:5px 10px;
}

header.header{
	padding:0; position: relative; z-index:5; text-align:center;
	background-color:rgba(255,255,255,0.8); overflow:hidden;
	transition: 0.5s;

	& .menu{
		overflow:hidden; max-width:1100px; margin:0 auto; padding:0 10px; z-index: 3;
		position:relative;
		&.app{ width:100%; max-width:100%; }
	}

	& .logo{
		float:left; width:auto; position:absolute; bottom:30%;
		font-size: 20px; color:white; font-family:'gotham_thin';
		letter-spacing:0.05em;
		img{ width:40px; position:relative; bottom:2px;}
	}
	& .menu_list{
		float:right; overflow:hidden;
		& .menu_item{
			display:inline-block; float:none; padding:30px 20px; margin:0 10px;
			font-family:'gotham_book'; font-size:13px; letter-spacing:0.05em; color:#437cbf; transition:0.5s;
			&:hover{ transition:0.5s; }
		}
		& .register_item{
		  background-color:#437cbf; border-radius:3px; color:white; font-weight:bold; padding:5px 9px;
		  transition: 0.5s;
		  &:hover{ background-color:#52A4FF; transition:0.5s;}
		}
	}
	a{
		color:#4482c3; font-weight:bold;
	}



	&.home{ 
		background-color:rgba(0,0,0,0.5); 
		// position:fixed; width:100%;
		a{ color:white; }
		& .menu_list{
		  & .register_item{
		    background-color:transparent; border:white solid 1px; border-radius:3px; color:white;
		    &:hover{ background-color:rgba(255,255,255,0.5);}
		  }
		}
	}


	&.app{
		position:relative; z-index: 3;
		background-color:rgba(0,0,0,0.8); overflow:hidden;
		a{ color:white; }
		& .logo{
			img{ width:40px; position:relative; bottom:-5px; left:10px;}
		}
		& .menu_list{
		  & .menu_item{
		    background-color:transparent; color:white;
		    padding:15px 20px;
		    &:hover{ background-color:white; color:black;}
		  }
		}
	}
}


.loading_app{
	height:100%; width:100%;
	padding:25% 0; text-align:center;
	position:fixed; z-index:100;
	background-color:white;

	.loading_wrapper{
		width: 100%;
		position:absolute; bottom:50%;
		& .load_text{
			color:#0883C3; font-size:20px; font-family:'gotham_book';
			margin: 5px auto;
		}
		& .loading_prog{
			margin-top: 10px;
		}

		progress{
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;

	    width: 90%; max-width: 210px;
	    height:2px;

	    /* Firefox */
	    border: none;
	    background: #ddd;
	    border-radius: 2px;
	  }
	  progress::-webkit-progress-bar {
	    background: #ddd;
	    border-radius: 2px;
	  }

	  progress::-webkit-progress-value {
	    background-color: #0883C3;
	    border-radius: 2px;
	  }

	  progress::-moz-progress-bar {
	    background-color: #0883C3;
	    border-radius: 2px;
	  }
	}
}

.home_top_wrapper{
	background-size:cover; background-position:0% 110%;
	background-repeat:no-repeat; background-attachment:fixed;
	height:100%; max-height:calc(100% - 100px); overflow:hidden;
	transition:1s;
	position:relative;
}

.home_top{
	height:100%; text-align:center; overflow:hidden;
	background-color:rgba(black, 0.5);
	transition:1s; position:relative;
	& .home_top_text{
		position:absolute;
		top: 40%;
		width: 100%;
		transition: 1s;
		& .home_info_1, & .home_info_2, & .home_info_3{ 
			color:#eee;
			@include text_extrude(black, 1);
		}
		&.demo_open{
			top: 20%;
			transition: 1s;
		}
	}
}

.form_err{
	color:red; margin:5px auto; border-radius:3px; border:1px solid red;
	padding:0 5px; background-color:rgba(red, 0.1); display:none;
	text-align:center;
}

.get_started{
	margin:50px auto 100px; padding:20px 25px;
}





.search_section{
	text-align:center;
	width:100%; 
	position:absolute; bottom:0;
	.search_popup{
		background-color:#fff; color:#333;
		padding:4px 10px; font-weight:bold;
		width:auto; display:inline-block;
		border-radius:5px 5px 0 0;
		position:relative; bottom:0px;
		transition: 0.5s;
		
		&:hover{ bottom:-5px; transition: 0.3s; }

		&.fade{
			position:relative; bottom:80px;
			opacity:0.2; background-color:black; color:white;
			transition: 0.5s;
			&:hover{ opacity:0.5; transition: 0.5s; }
		}
	}
	.search_box{
		background-color:rgba(black, 0.5);
		padding:15px;
		width:100%;
		position:absolute; bottom:-80px;
		transition: 0.5s;
		input.search_course_term{
			max-width:400px; width:60%; border:0; border-radius:3px 0 0 3px; margin:0 -4px 0 0; padding:10px 15px 9px;
			background-color:#f1f1f1; position:relative; top:-1px;
		}
		select{
			-webkit-appearance:none; padding:11px 15px;
			width:auto; border-radius: 0 3px 3px 0;  border:0;
		}
		button.search_course_btn{
			 padding:11px 15px; font-size:15px;
		}
		&.popup{
			position:absolute; bottom:0px;
			transition: 0.5s;
		}
	}
}
.search_results_home{
	padding:0px; background-color:#f8f8f8; border-radius:0 0 5px 5px;
	position:relative; top:-40px; z-index:0;
	transition: 0.5s;
	&.show{
		padding:10px; position:relative; top:0px;
		transition: 0.5s; margin:0 auto 20px;
	}
}




.home_submenu{
	height:100px;  width:100%; background-color:white;
	position:relative;  z-index:3;  overflow:hidden;
	text-align: center;
	a .submenu_item{ color:#999; }
	& .submenu_item{
		position:relative;
		height: 100px; width: 16%; display:inline-block; margin:0 0.5%;
		float: none;
		padding:40px 0;
		&:hover{
			background-color:#eee;
		}
		.text{
			font-family:'gotham_book';
			font-size: 13px;
		}
	}
}





.theproduct{
	padding:120px 0; margin:0 auto; text-align:center;
	overflow:hidden;
	background-position:0 -20%; background-size:100%;
	background-repeat:no-repeat; background-attachment:fixed;
}



.newsletter{
	font-size:13px; font-weight: thin; letter-spacing:0.05em; margin-bottom:8px;
}







// REGISTER FORM
.register_top{
	margin:150px 0 50px; padding: 5px;
	background-position:left 85%;
	background-size:cover;
	background-repeat:no-repeat;
	height:550px;
}

.register_form{
	overflow:hidden;
	max-width:1100px; margin:0 auto;
	position:relative; top:-80px; z-index:20;
	& .title{
		font-family:'webly_reg'; font-size:40px;
		float: left;
		position:relative; top:10px;
	}
}

.register{
	padding:5px 30px 20px; margin:0; width:400px; float:right;
	background-color:rgba(white, 0.8); 
	background: linear-gradient(rgba(white,1) 15%, rgba(white,0.2) 100%);
	color:#999;
	border-top:5px solid #999;

	form{
		color:#333; font-size:12px;
	}

	form input, form select{
	  width:100%; margin:5px auto; float:none; display:inline-block;
	  &.name{
	  	width:49.4%; margin-bottom:25px;
	  }
	}
	form input.button{
	  width:inherit;
	}

	form .register_label{
	 	text-align:left;  color:#333; font-size:12px; margin:0 0 5px;
	}
}







.modal-body{
	height:450px; overflow:scroll;
}







.teammember{
	max-width:170px; width:25%; min-width:140px; text-align:center;
	font-size:12px; font-family:'webly_reg';
	display: inline-block; margin:20px 1%;
	img{
		width: 100%; border-radius:5%;
	}
	& .name{
		font-family:'webly_bld'; font-size:17px; margin:3px auto 5px;
	}
}

.home_sec{ 
	font-size:30px; font-family:'webly_reg'; color:#858585;
	line-height:1em;
	margin:50px auto; text-align:center; 
	img{ width:50%; max-width:120px; margin-bottom:50px; }
}
.video_info_title{ font-size:25px; font-weight:bold; font-family:'webly_reg'; margin:100px 10px 5px; text-align:right;}
.video_info_desc{ max-width:300px; float:right; margin-right:10px; line-height: 1.5em; font-size:15px; font-family:'webly_reg'; text-align:right;}
.regis_title{ font-size:40px; color:white; font-weight:bold; font-family:'webly_reg'; }


.user_box{ height:150px; background-color:transparent; border:1px solid #C4C1C1; border-bottom:0; }


.info_box{
	&.thrd{ width:30%;  margin:1.5% 1.5% 10%;}
	display: inline-block;
	img{ max-width:150px; min-width:50%; margin-bottom:20px;}
	& .title{
		padding: 10px; text-align:center;
		color:#5D5D5D; font-size:20px; font-family:'gotham_bld';
	}
	& .desc{
		line-height: 1.5em;
		font-size: 14px;
	}
}









// DEVICES
.devices{
	background-position:center; background-size:cover;
	background-repeat:no-repeat; background-attachment:fixed;
	margin:150px 0 200px;
	& .halfsec{
		width:100%;
		position:relative;
		img.camera{
			position:absolute;
		}
		img.computers{
			position:absolute;
		}
		& .devicetext{
			position:absolute;
			color:black; font-family: "webly_reg";
			line-height: 1.5em;
			& .from_anywhere{
				font-family:'gotham_bld';
			}
		}
	}
}








/* Mobile Layout: 480px and below. */
@media only screen and (max-width: 400px) {
	.home_top_wrapper{
		height:100%; max-height:calc(100% - 0px);
	}
	.home_top{
		& .home_top_text{
			top: 5px;
			&.demo_open{
				top: 5px;
			}
		}
	}
}
@media only screen and (max-width: 480px) {
	header.header{
		padding:0 10px 10px;
		text-align: center;
		
	    & .logo{
	      float:none; padding:10px 0; width:100%; position:relative;
	    }
	    & .menu_list{
	      float:none; width:100%; text-align:center;
	      & .menu_item{
	        padding:5px 7px; margin:5px 3px 0;
	      }
	    }

	    &.home{ position:relative; }
		&.app{ padding:0 10px; }
	}

	.home_top_wrapper{
		height:100%; max-height:calc(100% - 120px);
	}
	.home_top{
		& .home_top_text{
			top: 35%;
			&.demo_open{
				top: 20%;
				transition: 1s;
			}
		}
	}
	
	.home_submenu{
		height: 120px;
		& .submenu_item{
			height: 60px; width: 30%; margin:0;
			float: none; display:inline-block;
			padding:20px 0;
			.text{
				font-family:'gotham_book';
				font-size: 13px;
			}
		}
	}

	.search_section{
		.search_box{
			position:absolute; bottom:-80px;
			input.search_course_term{
				max-width:200px; width:60%;
			}
		}
	}
	.home_info_1{ font-size:30px; font-family:'gotham_book'; margin:5px auto; line-height:50px;}
	.home_info_2{ font-size:20px; font-family:'webly_reg'; }
	.home_info_3{ font-size:14px; font-family:'webly_reg'; margin:0 auto; }
	.info_box{
		&.hlf{ width:48%; min-width:200px; }
		&.thrd{ width:31%; min-width:200px; }
		&.qtr{ width:98%; min-width:200px; margin:0 auto; }
	}

	.video_info_title{ width:100%; float:none; text-align:center;  margin:5px auto 30px;}
	.video_info_desc{  width:100%; float:none; text-align:center; margin:5px auto;}


	.devices{
		padding-top:10px;
		height: 70%;
		margin: 50px 0 100px;
		& .halfsec{
			height: 100%;
			width:100%;
			position:relative;
			img.camera{
				position:absolute;
				left: 4%; bottom:0px;
				width:92%;
			}
			img.computers{
				position:absolute;
				left:1%; top:0;
				width:98%;
			}
			& .devicetext{
				left: 10%; top:60%;
				width:90%;
				font-size:20px;
				& .from_anywhere{
					font-size:30px;
				}
			}
		}
	}
}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
	.home_info_1{ font-size:40px; font-family:'gotham_light'; margin:10px auto 15px;}
	.home_info_2{ font-size:20px; font-family:'webly_reg'; }
	.home_info_3{ font-size:18px; font-family:'webly_reg'; margin:10px auto;}
	.info_box{
		&.hlf{ width:48%; min-width:200px; }
		&.thrd{ width:31%; min-width:200px; }
		&.qtr{ width:48%; min-width:200px; margin:0.25%; }
	}
	.devices{
		padding:70px 10px 0;
		height: 30%;
		& .halfsec{
			height:100%;
			img.camera{
				left: 7%; bottom:0px;
				width:35%;
			}
			img.computers{
				right: 0px; bottom:-20%;
				width:55%;
			}
			& .devicetext{
				left: 6%; top:0px;
				width:85%;
				font-size:15px;
				& .from_anywhere{
					font-size:25px;
				}
			}
		}
	}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
	.home_info_1{ font-size:60px; font-family:'gotham_light'; margin:0 auto 35px;}
	.home_info_2{ font-size:20px; font-family:'webly_reg'; line-height:1.5em;}
	.home_info_3{ font-size:18px; font-family:'webly_reg'; margin:10px auto; }
	.info_box{
		&.hlf{ width:48%; min-width:200px;  margin:0.25%; 
			& .image{ height:250px; }
		}
		&.thrd{ width:32%; min-width:200px; margin:0.15%;}
		&.qtr{ width:24%; min-width:200px; margin:0.25%; }
	}
	.devices{
		padding-top:50px;
		height: 50%;
		& .halfsec{
			img.camera{
				left: 15%;
				width:32%;
			}
			img.computers{
				width:45%;
			}
			& .devicetext{
				left: 15%; top:25%;
				font-size:25px;
				& .from_anywhere{
					font-size:40px;
				}
			}
		}
	}
}