<footer>
  <div class="footer_width">

    <!-- <div class="footer_newsletter">
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
          #mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
      </style>
      <div id="mc_embed_signup">
      <form action="//videorehearser.us14.list-manage.com/subscribe/post?u=eac06e364f67dc7662ea824e7&amp;id=fbf89eac78" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
         <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL"></label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Join our Newsletter" required>
         <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_eac06e364f67dc7662ea824e7_fbf89eac78" tabindex="-1" value=""></div>
         <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
         </div>
      </form>
      </div>

    </div>
    
    <br> -->

    <div class="container" style="text-align:left;">
      <div class="row">
        <div class="col">
          

          <!-- <a href="http://videorehearser.tumblr.com/" target="_blank">Case Studies</a><br>
          <a href="/press">Press</a><br>
          <a href="/requirements">Requirements</a><br>
          <div class="title"> Join us </div>
          <a href="/learn">Learn</a><br>
          <a href="/teach">Teach</a><br>
          <a href="/coach">Coach</a><br>
          <a href="/create">Create</a><br>
          <a href="/theteam">The Team</a><br> -->
          
          <a href="/about">About Us</a> . 
          <a href="/termsandservices">Terms and Services</a> . 
          <a href="/jobs">Jobs</a> . 
          <a href="/contact">Contact us</a> . 
          <a href="/FAQs">FAQs</a> . 
        </div>
      </div>
    </div>
    
    <!-- <div class="footer_contact">
      <span style=" font-family:'gotham_bld'; letter-spacing:0.1em;">VIDEO REHEARSER</span><br>
      <a href="mailto:support@videorehearser.com">support@videorehearser.com</a><br>
      Tel: 305 912 4843
    </div>
  
    <div class="footer_social">
      <a href="https://www.facebook.com/videorehearser">
        <span class="social_icon ion-social-facebook"></span>
      </a>
      
      <a href="https://twitter.com/videorehearser">
        <span class="social_icon ion-social-twitter"></span>
      </a>

      <a href="https://www.linkedin.com/company/video-rehearser">
        <span class="social_icon ion-social-linkedin"></span>
      </a>

      <a href="https://www.instagram.com/videorehearser/">
        <span class="social_icon ion-social-instagram"></span>
      </a>
      <a href="#" class="social_icon_2">Blog</a>

      <a href="https://videorehearser.typeform.com/to/UJHxYm"><button class="contact_footer">Contact Form</button></a>

    </div> -->

    <!-- <div class="footer_r">
      <img src="/assets/logo_white.png" width="40px"><br>
      

    </div> -->

    <br>

    <div class="container">
      <div class="row">

        <div class="col-sm-6 left_text">
          Copyright © <%= Time.new.year %> <%= link_to 'CDG Innovations', "http://www.cdginnovations.com" %>
        </div>

        <!-- <div class="col-sm-3">
          <%= link_to "Jobs", jobs_path %>
        </div> -->

        <div class="col-sm-6 right_text">
          <a href='http://www.rehearser.co' target='_blank'>
            <img src=" <%= image %>/identity/powered_by_rehearser_black.png" width="130px">
          </a>
        </div>
      </div>
    </div>


  </div>
</footer>

<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.js"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>

<script type="text/javascript">
// End Loading Screen
  endLoadingProg();

  // GOogle Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83591568-1', 'auto');
  ga('send', 'pageview');


  (function(d,s,i,r) {
    if (d.getElementById(i)){return;}
    var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
    n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2530258.js';
    e.parentNode.insertBefore(n, e);
  })(document,"script","hs-analytics",300000);
</script>
