<footer>
  <div class="footer_content">

    <div class="links">
      <a href="/team">Team</a>
      <a href="/termsandservices">Terms</a>
      <a href="/jobs">Jobs</a>
      <a href="/contact">Contact us</a>
      <a href="/faqs">FAQs</a>
      <a data-fancybox href="https://trello-attachments.s3.amazonaws.com/59f0a6eadde82452a316d9bb/5acc0cff3d9b58d2f34e08e6/4b46c7ad938bee3db1df897e244cd27f/videoRehearser_One_Pager.pdf" target="_blank">
        General Information
      </a>
      <!-- <a href="https://connect.liveninja.com/phone/?queue=standard@cdginnovations&apikey=cdginnovations">Live Chat</a> -->
    </div>

    <!-- <div class="links">
      <hr class="small" style="width:200px; margin:20px auto; border:0.5px solid #666;">
      <a href="<%= education_url %>">vR for Education</a>
      <a href="#">vR for Human Ressources</a>
      <a href="#">vR for Wellness</a>
    </div> -->
      
    <br>

    <div class="bottom">
      <div class="copyright">Patent Pending | Copyright © <%= Time.new.year %> <%= link_to 'CDG Innovations', "http://www.cdginnovations.com" %> </div>

      <div class="social">
        <a href="https://www.facebook.com/videorehearser" target="_blank" ><img src="/assets/social/facebook-logo.svg" alt=""></a>
        <a href="https://twitter.com/videorehearser" target="_blank" ><img src="/assets/social/twitter-logo.svg" alt=""></a>
        <a href="https://www.instagram.com/videorehearser/" target="_blank" ><img src="/assets/social/instagram-logo.svg" alt=""></a>
        <a href="https://www.linkedin.com/company/video-rehearser" target="_blank" ><img src="/assets/social/linkedin-logo.svg" alt=""></a>
      </div>

      <div class="rehearser">
        <a href='http://www.rehearser.co' target='_blank'> <img src=" <%= image %>/identity/powered_by_rehearser_black.png" width="130px"> </a>
      </div>
    </div>

  </div>
</footer>


<script type="text/javascript">

  // End Loading Screen
  endLoadingProg();

  // GOogle Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83591568-1', 'auto');
  ga('send', 'pageview');


  (function(d,s,i,r) {
    if (d.getElementById(i)){return;}
    var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
    n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2530258.js';
    e.parentNode.insertBefore(n, e);
  })(document,"script","hs-analytics",300000);
</script>
