<footer>
	<div class="footer_width">
		

		<div class="footer_newsletter">
			<!-- Begin MailChimp Signup Form -->
			<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
			<style type="text/css">
			    #mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
			    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
			<div id="mc_embed_signup">
			<form action="//videorehearser.us14.list-manage.com/subscribe/post?u=eac06e364f67dc7662ea824e7&amp;id=fbf89eac78" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			   <div id="mc_embed_signup_scroll">
			    <label for="mce-EMAIL">Join our Newsletter</label>
			    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
			   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			   <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_eac06e364f67dc7662ea824e7_fbf89eac78" tabindex="-1" value=""></div>
			   <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			   </div>
			</form>
			</div>

			<!--End mc_embed_signup-->
		</div>

		

		<br>



		<div class="footer_l">

			<div class="footer_sec">
				<div class="title"> Company </div>
				<a href="/about">About</a><br>
				<a href="#">Press</a><br>
				<a href="/termsandservices">Terms and Services</a><br>
				<a href="/theteam">The Team</a><br>
				<a href="#">Policies</a><br>
			</div>

			<div class="footer_sec">
				<div class="title"> Support </div>
				<a href="#">Support</a><br>
				<a href="/contact">Contact us</a><br>
				<a href="/requirements">Requirements</a><br>
				<a href="/FAQs">FAQs</a><br>
			</div>
			
			<div class="footer_sec">
				<div class="title"> Join us </div>
				<a href="#">Teach</a><br>
				<a href="#">Coach Trainees</a><br>
				<a href="#">Create Content</a><br>
				<a href="#">Join the team</a><br>
			</div>

		</div>

		<div class="footer_m" style="text-align:center;">
			Connect with us
			<hr style=" border:0; border-bottom: 0.5px solid #666;">
			<a href="https://www.facebook.com/videorehearser">
				<span class="social_icon ion-social-facebook"></span>
			</a>
			
			<a href="https://twitter.com/videorehearser">
				<span class="social_icon ion-social-twitter"></span>
			</a>

			<a href="https://www.linkedin.com/company/video-rehearser">
				<span class="social_icon ion-social-linkedin"></span>
			</a>

			<a href="https://www.instagram.com/videorehearser/">
				<span class="social_icon ion-social-instagram"></span>
			</a>
			<a href="#" class="social_icon_2">Blog</a>

			<button class="contact_footer">Contact Form</button>

		</div>

		<div class="footer_r">
			<img src="/assets/logo_white.png" width="40px"><br>
			<span style=" font-family:'gotham_bld'; letter-spacing:0.1em;">VIDEO REHEARSER</span><br>
			<a href="mailto:support@videorehearser.com">support@videorehearser.com</a><br>
			Tel: 305 912 4843

		</div>


	</div>
</footer>
