<div class="left_menu away">

	<div class="left_menu_toggle ion-chevron-left"></div>

	<div class="show_on_mobile">

		<%= link_to 'Dashboard', root_path, class:'nav_item' %>
		<%= link_to 'Courses', '/courses/search', class:'nav_item' %>

		<a href="<%= feedback_all_path %>" class="nav_item">
			Feedback
		</a>

		<a href="<%= rehearsals_all_path %>" class="nav_item">
			Rehearsals
		</a>

	</div>
	<hr>
	<!-- <div class="nav_item">Tutorials</div> -->
</div>
