<div class="panel_seperator">
	<a href="#" class="js-max_min">
		<div class="panel_icon">
			<!-- <span class="icon ion-navicon-round"></span>  -->
			<img class="icon" src="/assets/icons/expand.svg">
			<div class="text_label">Minimize</div>
		</div>
	</a>
</div>


<div class="panel_seperator js-site_panel">

	<script type="text/javascript">
		panel_section('site_panel')
	</script>
	<!-- <div class="sidepanel js-side_Settings">
	</div> -->

</div>



<div class="panel_seperator js-common_panel">

	<script type="text/javascript">
		panel_section('common_panel')
	</script>
	
	<div class="sidepanel js-side_Tasks">TASKS</div>
	<div class="sidepanel js-side_Chat">CHAT</div>

</div>


<!-- Instructor Features -->


<% if current_user.role == @r[1] %>
	<div class="panel_seperator">
  		<a href="/courses" title="My Courses">
  			<div class="panel_icon">
	          <span class="icon ion-university"></span> <div class="text_label">My courses</div>
  			</div>
  		</a>
	</div>
<% end %>


<!-- Admin Features -->


<% if current_user.role == @r[0] %>
	<div class="panel_seperator">
  		<a href="/demos" title="Demos">
  			<div class="panel_icon">
	          <span class="icon ion-social-youtube"></span> <div class="text_label">Demos</div>
	          <%if @demos.count > 0 %>
	          	<div class="notif_num"> <span class="notif"><%= @demos.count.to_s %></span> </div>
	          <%end%>
  			</div>
  		</a>
  	</div>
<% end %>