<div class="left_menu away">

	<div class="left_menu_toggle ion-chevron-left"></div>

	<div class="show_on_mobile">
		<%= link_to 'Dashboard', root_path, class:'nav_item' %>
		<%= link_to 'Courses', '/courses/search', class:'nav_item' %>

		<a href="<%= feedback_all_path %>" class="nav_item">
			Feedback
		</a>

		<a href="<%= rehearsals_all_path %>" class="nav_item">
			Rehearsals
		</a>
	</div>
	<hr>
	<div class="nav_item">
		<a href="https://www.youtube.com/watch?v=Pgk6uD0Faic" data-fancybox><button class="blue">How does it Work?</button></a>
	</div>
</div>
