<div class="side-menu">

	<span class="menu-togglebtn"><img src="/assets/menu.png" class="menu-control"></span>

	<div class="panel_seperator js-site_panel">

		<script type="text/javascript">
			panel_section('site_panel')
		</script>
		
	</div>



	<div class="panel_seperator js-common_panel">

		<script type="text/javascript">
			panel_section('common_panel')
		</script>
		<span class="Feedback_notif" style="display:none;"><%= feedback_notif.to_s %></span>
		<span class="Chat_notif" style="display:none;"><%= chat_notif.to_s %></span>
		<span class="Tasks_notif" style="display:none;"><%= tasks_notif.to_s %></span>

		<div class="sidepanel js-side_Tasks">TASKS</div>
		<div class="sidepanel js-side_Chat">CHAT</div>

	</div>


	<!-- Instructor Features -->


	<% if current_user.level_2 %>

		<div class="panel_seperator js-instructor_panel">

			<script type="text/javascript">
				panel_section('instructor_panel')
			</script>

			<span class="Rehearsals_notif" style="display:none;"><%= rehearsals_notif %></span>
		</div>

	<% end %>


	<!-- Admin Features -->


	<% if current_user.level_1 %>
		
		<div class="panel_seperator js-admin_panel">

			<script type="text/javascript">
				panel_section('admin_panel')
			</script>
			
		</div>

	<% end %>
</div>
