<div class="loading_app" style="display:none;">
  <div class="loading_wrapper">
    <span class="load_text"> 
      <span class="ion-ios-cloud-download"></span> 
    </span>
    <br>
    <progress class="loading_prog" value="0" max="101"></progress>
    <div class="loading_reload" style="display:none;">
      <button class="js-reload green_sft small_btn" >
        Reload page
      </button>
    </div>
  </div>
</div>