<header class="header home">
	<menu>
	
		<div class="logo"><a href="/"><img src="/assets/logo_white.png"></a></div>

		<div class="menu_list">
			<% @main_menu.each do |menu| %>
				<div class="menu_item"><a href="/<%= menu %>"><%= menu.capitalize %></a></div>
			<%end%>
			
	    	<div class="menu_item">
	    		<%= link_to "Log In", new_user_session_path %>
	    	</div>

	    	<a href="<%= new_user_registration_path %>">
	    		<div class="register_item menu_item">Register</div>
	    	</a>
	    </div>

	</menu>
</header>