<div class="tasks">
	<div class="panel_seperator" style="padding:8px 5px 9px 5px;">
		<a href="#" class="js-tmax_tmin">
			<div class="task_icon" style="margin: 0 auto;"> 
				<span class="ticon ion-navicon-round"></span> <div class="task_label">Tasks</div> 
			</div>
		</a>
	</div>

	<div class="panel_seperator task_list">
		<a href="#" class="js-tmax_tmin">
			<div class="task_icon">
				<span class="ticon ion-ios-list-outline"></span>
				<%if @tasks.count > 0 %>
					<div class="tnotif_num"> <span class="notif">0</span> </div>
				<%end%>
			</div>
		</a>
	</div>
</div>